{
   "openapi":"3.0.1",
   "info":{
      "title":"Event Portal Open API",
      "description":"# REST API Concepts\n\nSolace PubSub+ Event Portal provides RESTful APIs that you can use to manage your data in PubSub+ Cloud. The REST APIs\nallow you to model your event-driven architectures from your own client applications.\n\nThe following document describes the public REST APIs available for use in Event Portal 2.0. Please note that Event\nPortal 2.0 is in the Early Access release stage and is available for testing and early user feedback. These APIs are \nsubject to change until they are declared Generally Available. Objects created in this version will not be available in\nEvent Portal 1.0 and are not guaranteed to be persisted if you migrate your Event Portal 1.0 data later when data\nmigration to Event Portal 2.0 is supported.\n\n",
      "version":"2.0.0-alpha.002"
   },
   "servers":[
      {
         "url":"https://api.solace.cloud",
         "description":"Solace PubSub+ Cloud"
      }
   ],
   "security":[
      {
         "APIToken":[

         ]
      }
   ],
   "tags":[
      {
         "name":"Application Domains"
      },
      {
         "name":"Applications"
      },
      {
         "name":"Enums"
      },
      {
         "name":"Event API Products"
      },
      {
         "name":"Event APIs"
      },
      {
         "name":"Events"
      },
      {
         "name":"Schemas"
      },
      {
         "name":"States"
      }
   ],
   "paths":{
      "/api/v2/architecture/enums":{
         "get":{
            "tags":[
               "Enums"
            ],
            "summary":"Lists enums",
            "description":"Use this API to list enums based on certain criteria.",
            "operationId":"getEnums",
            "parameters":[
               {
                  "name":"pageSize",
                  "in":"query",
                  "description":"The number of enums to get per page. Min: 1 Max: 100",
                  "required":false,
                  "schema":{
                     "maximum":100,
                     "minimum":1,
                     "type":"integer",
                     "format":"int32",
                     "default":20
                  }
               },
               {
                  "name":"pageNumber",
                  "in":"query",
                  "description":"The page number to get. Min: 1",
                  "required":false,
                  "schema":{
                     "minimum":1,
                     "type":"integer",
                     "format":"int32",
                     "default":1
                  }
               },
               {
                  "name":"ids",
                  "in":"query",
                  "description":"The IDs of the enums.",
                  "required":false,
                  "schema":{
                     "type":"array",
                     "items":{
                        "type":"string"
                     }
                  }
               },
               {
                  "name":"applicationDomainId",
                  "in":"query",
                  "description":"The application domain ID of the enums.",
                  "required":false,
                  "schema":{
                     "type":"string"
                  }
               },
               {
                  "name":"applicationDomainIds",
                  "in":"query",
                  "description":"Match only enums in the given application domain ids.",
                  "required":false,
                  "schema":{
                     "uniqueItems":true,
                     "type":"array",
                     "items":{
                        "type":"string"
                     }
                  }
               },
               {
                  "name":"names",
                  "in":"query",
                  "description":"The names of the enums.",
                  "required":false,
                  "schema":{
                     "type":"array",
                     "items":{
                        "type":"string"
                     }
                  }
               },
               {
                  "name":"shared",
                  "in":"query",
                  "description":"Match only with shared or unshared enums.",
                  "required":false,
                  "schema":{
                     "type":"boolean"
                  }
               },
               {
                  "name":"sort",
                  "in":"query",
                  "description":"Sort based on the provided parameters.",
                  "required":false,
                  "schema":{
                     "type":"string"
                  }
               }
            ],
            "responses":{
               "405":{
                  "description":"Method Not Allowed",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "501":{
                  "description":"Not Implemented",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "404":{
                  "description":"Not Found.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "403":{
                  "description":"Forbidden.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "503":{
                  "description":"Service Unavailable.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "504":{
                  "description":"Gateway Timeout.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "400":{
                  "description":"Bad Request.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     },
                     "*/*":{
                        "schema":{
                           "oneOf":[
                              {
                                 "$ref":"#/components/schemas/ErrorResponse"
                              },
                              {
                                 "$ref":"#/components/schemas/InvalidStateReference"
                              }
                           ]
                        }
                     }
                  }
               },
               "401":{
                  "description":"Unauthorized.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "500":{
                  "description":"Internal Server Error.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "200":{
                  "description":"Retrieve a list of enums and the accompanying metadata.",
                  "content":{
                     "application/json;charset=UTF-8":{
                        "schema":{
                           "$ref":"#/components/schemas/EnumsResponse"
                        }
                     }
                  }
               }
            }
         },
         "post":{
            "tags":[
               "Enums"
            ],
            "summary":"Creates an enum object",
            "description":"description",
            "operationId":"createEnum",
            "requestBody":{
               "description":"Enum object description.",
               "content":{
                  "application/json;charset=UTF-8":{
                     "schema":{
                        "$ref":"#/components/schemas/Enum"
                     }
                  }
               },
               "required":true
            },
            "responses":{
               "405":{
                  "description":"Method Not Allowed",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "501":{
                  "description":"Not Implemented",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "404":{
                  "description":"Not Found.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "403":{
                  "description":"Forbidden.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "503":{
                  "description":"Service Unavailable.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "504":{
                  "description":"Gateway Timeout.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "400":{
                  "description":"Bad Request.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     },
                     "*/*":{
                        "schema":{
                           "oneOf":[
                              {
                                 "$ref":"#/components/schemas/ErrorResponse"
                              },
                              {
                                 "$ref":"#/components/schemas/InvalidStateReference"
                              }
                           ]
                        }
                     }
                  }
               },
               "401":{
                  "description":"Unauthorized.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "500":{
                  "description":"Internal Server Error.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "201":{
                  "description":"Created an enum. The newly saved enum object is returned in the response body.",
                  "content":{
                     "application/json;charset=UTF-8":{
                        "schema":{
                           "$ref":"#/components/schemas/EnumResponse"
                        }
                     }
                  }
               }
            }
         }
      },
      "/api/v2/architecture/events":{
         "get":{
            "tags":[
               "Events"
            ],
            "summary":"Gets the event objects",
            "description":"Use this API to retrieve a list of events that match the given parameters.",
            "operationId":"getEvents",
            "parameters":[
               {
                  "name":"pageSize",
                  "in":"query",
                  "description":"The number of events to get per page. Min: 1 Max: 100",
                  "required":false,
                  "schema":{
                     "maximum":100,
                     "minimum":1,
                     "type":"integer",
                     "format":"int32",
                     "default":20
                  }
               },
               {
                  "name":"pageNumber",
                  "in":"query",
                  "description":"The page number to get. Min: 1",
                  "required":false,
                  "schema":{
                     "minimum":1,
                     "type":"integer",
                     "format":"int32",
                     "default":1
                  }
               },
               {
                  "name":"name",
                  "in":"query",
                  "description":"Name of the event to match on.",
                  "required":false,
                  "schema":{
                     "type":"string"
                  }
               },
               {
                  "name":"shared",
                  "in":"query",
                  "description":"Match only with shared or unshared events.",
                  "required":false,
                  "schema":{
                     "type":"boolean"
                  }
               },
               {
                  "name":"applicationDomainId",
                  "in":"query",
                  "description":"Match only events in the given application domain.",
                  "required":false,
                  "schema":{
                     "type":"string"
                  }
               },
               {
                  "name":"applicationDomainIds",
                  "in":"query",
                  "description":"Match only events in the given application domain ids.",
                  "required":false,
                  "schema":{
                     "uniqueItems":true,
                     "type":"array",
                     "items":{
                        "type":"string"
                     }
                  }
               },
               {
                  "name":"ids",
                  "in":"query",
                  "description":"Match only events with the given IDs separated by commas.",
                  "required":false,
                  "schema":{
                     "uniqueItems":true,
                     "type":"array",
                     "items":{
                        "type":"string"
                     }
                  }
               },
               {
                  "name":"sort",
                  "in":"query",
                  "required":false,
                  "schema":{
                     "type":"string"
                  }
               }
            ],
            "responses":{
               "405":{
                  "description":"Method Not Allowed",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "501":{
                  "description":"Not Implemented",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "404":{
                  "description":"Not Found.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "403":{
                  "description":"Forbidden.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "503":{
                  "description":"Service Unavailable.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "504":{
                  "description":"Gateway Timeout.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "400":{
                  "description":"Bad Request.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     },
                     "*/*":{
                        "schema":{
                           "oneOf":[
                              {
                                 "$ref":"#/components/schemas/ErrorResponse"
                              },
                              {
                                 "$ref":"#/components/schemas/InvalidStateReference"
                              }
                           ]
                        }
                     }
                  }
               },
               "401":{
                  "description":"Unauthorized.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "500":{
                  "description":"Internal Server Error.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "200":{
                  "description":"Retrieve a list of applications and the accompanying metadata.",
                  "content":{
                     "*/*":{
                        "schema":{
                           "$ref":"#/components/schemas/EventsResponse"
                        }
                     }
                  }
               }
            }
         },
         "post":{
            "tags":[
               "Events"
            ],
            "summary":"Creates an event object",
            "description":"Events are the primary building block of an event-driven architecture. Applications publish and subscribe to events and events reference schemas.  In the Event Portal, an event is a type of event as opposed to a specific event instance.",
            "operationId":"createEvent",
            "requestBody":{
               "description":"The event requires a name and an application domain ID.",
               "content":{
                  "application/json;charset=UTF-8":{
                     "schema":{
                        "$ref":"#/components/schemas/Event"
                     }
                  }
               },
               "required":true
            },
            "responses":{
               "405":{
                  "description":"Method Not Allowed",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "501":{
                  "description":"Not Implemented",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "404":{
                  "description":"Not Found.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "403":{
                  "description":"Forbidden.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "503":{
                  "description":"Service Unavailable.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "504":{
                  "description":"Gateway Timeout.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "400":{
                  "description":"Bad Request.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     },
                     "*/*":{
                        "schema":{
                           "oneOf":[
                              {
                                 "$ref":"#/components/schemas/ErrorResponse"
                              },
                              {
                                 "$ref":"#/components/schemas/InvalidStateReference"
                              }
                           ]
                        }
                     }
                  }
               },
               "401":{
                  "description":"Unauthorized.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "500":{
                  "description":"Internal Server Error.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "201":{
                  "description":"Created an event. The newly saved event object is returned in the response body.",
                  "content":{
                     "application/json;charset=UTF-8":{
                        "schema":{
                           "$ref":"#/components/schemas/EventResponse"
                        }
                     }
                  }
               }
            }
         }
      },
      "/api/v2/architecture/states":{
         "get":{
            "tags":[
               "States"
            ],
            "summary":"Gets the State objects",
            "description":"Use this API to retrieve a list of Lifeycle States that match the given parameters.",
            "operationId":"getStates",
            "responses":{
               "405":{
                  "description":"Method Not Allowed",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "501":{
                  "description":"Not Implemented",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "404":{
                  "description":"Not Found.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "403":{
                  "description":"Forbidden.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "503":{
                  "description":"Service Unavailable.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "504":{
                  "description":"Gateway Timeout.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "400":{
                  "description":"Bad Request.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     },
                     "*/*":{
                        "schema":{
                           "oneOf":[
                              {
                                 "$ref":"#/components/schemas/ErrorResponse"
                              },
                              {
                                 "$ref":"#/components/schemas/InvalidStateReference"
                              }
                           ]
                        }
                     }
                  }
               },
               "401":{
                  "description":"Unauthorized.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "500":{
                  "description":"Internal Server Error.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "200":{
                  "description":"Retrieve a list of lifecycle states and the accompanying metadata.",
                  "content":{
                     "application/json;charset=UTF-8":{
                        "schema":{
                           "$ref":"#/components/schemas/StatesResponse"
                        }
                     }
                  }
               }
            }
         }
      },
      "/api/v2/architecture/schemas":{
         "get":{
            "tags":[
               "Schemas"
            ],
            "summary":"Gets the schema objects",
            "description":"Use this API to retrieve a list of schemas that match the given parameters.",
            "operationId":"getSchemas",
            "parameters":[
               {
                  "name":"pageSize",
                  "in":"query",
                  "description":"The number of schemas to get per page. Min: 1 Max: 100",
                  "required":false,
                  "schema":{
                     "maximum":100,
                     "minimum":1,
                     "type":"integer",
                     "format":"int32",
                     "default":20
                  }
               },
               {
                  "name":"pageNumber",
                  "in":"query",
                  "description":"The page number to get. Min: 1",
                  "required":false,
                  "schema":{
                     "minimum":1,
                     "type":"integer",
                     "format":"int32",
                     "default":1
                  }
               },
               {
                  "name":"name",
                  "in":"query",
                  "description":"Name of the schema to match on.",
                  "required":false,
                  "schema":{
                     "type":"string"
                  }
               },
               {
                  "name":"shared",
                  "in":"query",
                  "description":"Match only with shared or unshared schemas.",
                  "required":false,
                  "schema":{
                     "type":"boolean"
                  }
               },
               {
                  "name":"applicationDomainId",
                  "in":"query",
                  "description":"Match only schemas in the given application domain.",
                  "required":false,
                  "schema":{
                     "type":"string"
                  }
               },
               {
                  "name":"applicationDomainIds",
                  "in":"query",
                  "description":"Match only schemas in the given application domain ids.",
                  "required":false,
                  "schema":{
                     "uniqueItems":true,
                     "type":"array",
                     "items":{
                        "type":"string"
                     }
                  }
               },
               {
                  "name":"ids",
                  "in":"query",
                  "description":"Match only schemas with the given IDs separated by commas.",
                  "required":false,
                  "schema":{
                     "uniqueItems":true,
                     "type":"array",
                     "items":{
                        "type":"string"
                     }
                  }
               },
               {
                  "name":"sort",
                  "in":"query",
                  "required":false,
                  "schema":{
                     "type":"string"
                  }
               }
            ],
            "responses":{
               "405":{
                  "description":"Method Not Allowed",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "501":{
                  "description":"Not Implemented",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "404":{
                  "description":"Not Found.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "403":{
                  "description":"Forbidden.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "503":{
                  "description":"Service Unavailable.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "504":{
                  "description":"Gateway Timeout.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "400":{
                  "description":"Bad Request.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     },
                     "*/*":{
                        "schema":{
                           "oneOf":[
                              {
                                 "$ref":"#/components/schemas/ErrorResponse"
                              },
                              {
                                 "$ref":"#/components/schemas/InvalidStateReference"
                              }
                           ]
                        }
                     }
                  }
               },
               "401":{
                  "description":"Unauthorized.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "500":{
                  "description":"Internal Server Error.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "200":{
                  "description":"Retrieve a list of schemas and the accompanying metadata.",
                  "content":{
                     "application/json;charset=UTF-8":{
                        "schema":{
                           "$ref":"#/components/schemas/SchemasResponse"
                        }
                     }
                  }
               }
            }
         },
         "post":{
            "tags":[
               "Schemas"
            ],
            "summary":"Creates a schema object",
            "description":"To model your event-driven architecture, schemas are a fundamental building block for modelling the payloads of the events flowing through your system. Use this API to create schemas that can later be referenced by events.",
            "operationId":"createSchema",
            "requestBody":{
               "description":"The schema requires a name, an application domain, a schema type and a content type.",
               "content":{
                  "application/json;charset=UTF-8":{
                     "schema":{
                        "$ref":"#/components/schemas/SchemaObject"
                     }
                  }
               },
               "required":true
            },
            "responses":{
               "405":{
                  "description":"Method Not Allowed",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "501":{
                  "description":"Not Implemented",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "404":{
                  "description":"Not Found.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "403":{
                  "description":"Forbidden.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "503":{
                  "description":"Service Unavailable.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "504":{
                  "description":"Gateway Timeout.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "400":{
                  "description":"Bad Request.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     },
                     "*/*":{
                        "schema":{
                           "oneOf":[
                              {
                                 "$ref":"#/components/schemas/ErrorResponse"
                              },
                              {
                                 "$ref":"#/components/schemas/InvalidStateReference"
                              }
                           ]
                        }
                     }
                  }
               },
               "401":{
                  "description":"Unauthorized.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "500":{
                  "description":"Internal Server Error.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "201":{
                  "description":"Created a schema. The newly saved schema object is returned in the response body.",
                  "content":{
                     "application/json;charset=UTF-8":{
                        "schema":{
                           "$ref":"#/components/schemas/SchemaResponse"
                        }
                     }
                  }
               }
            }
         }
      },
      "/api/v2/architecture/eventApis":{
         "get":{
            "tags":[
               "Event APIs"
            ],
            "summary":"Retrieves a list of event APIs",
            "description":"Use this API to retrieve a list of event APIs that match the given parameters.",
            "operationId":"getEventApis",
            "parameters":[
               {
                  "name":"pageSize",
                  "in":"query",
                  "description":"The number of event APIs to get per page. Min: 1 Max: 100",
                  "required":false,
                  "schema":{
                     "maximum":100,
                     "minimum":1,
                     "type":"integer",
                     "format":"int32",
                     "default":20
                  }
               },
               {
                  "name":"pageNumber",
                  "in":"query",
                  "description":"The page number to get. Min: 1",
                  "required":false,
                  "schema":{
                     "minimum":1,
                     "type":"integer",
                     "format":"int32",
                     "default":1
                  }
               },
               {
                  "name":"name",
                  "in":"query",
                  "description":"Name of the event API to match on.",
                  "required":false,
                  "schema":{
                     "type":"string"
                  }
               },
               {
                  "name":"ids",
                  "in":"query",
                  "description":"Match only event APIs with the given IDs separated by commas.",
                  "required":false,
                  "schema":{
                     "uniqueItems":true,
                     "type":"array",
                     "items":{
                        "type":"string"
                     }
                  }
               },
               {
                  "name":"applicationDomainId",
                  "in":"query",
                  "description":"Match only event APIs in the given application domain.",
                  "required":false,
                  "schema":{
                     "type":"string"
                  }
               },
               {
                  "name":"applicationDomainIds",
                  "in":"query",
                  "description":"Match only event APIs in the given application domains.",
                  "required":false,
                  "schema":{
                     "uniqueItems":true,
                     "type":"array",
                     "items":{
                        "type":"string"
                     }
                  }
               },
               {
                  "name":"shared",
                  "in":"query",
                  "description":"Match only with shared or unshared event APIs.",
                  "required":false,
                  "schema":{
                     "type":"boolean"
                  }
               },
               {
                  "name":"sort",
                  "in":"query",
                  "description":"The name of the field to sort on.",
                  "required":false,
                  "schema":{
                     "type":"string"
                  }
               },
               {
                  "name":"eventApiVersionIds",
                  "in":"query",
                  "required":false,
                  "schema":{
                     "uniqueItems":true,
                     "type":"array",
                     "items":{
                        "type":"string"
                     }
                  }
               }
            ],
            "responses":{
               "405":{
                  "description":"Method Not Allowed",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "501":{
                  "description":"Not Implemented",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "404":{
                  "description":"Not Found.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "403":{
                  "description":"Forbidden.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "503":{
                  "description":"Service Unavailable.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "504":{
                  "description":"Gateway Timeout.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "400":{
                  "description":"Bad Request.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     },
                     "*/*":{
                        "schema":{
                           "oneOf":[
                              {
                                 "$ref":"#/components/schemas/ErrorResponse"
                              },
                              {
                                 "$ref":"#/components/schemas/InvalidStateReference"
                              }
                           ]
                        }
                     }
                  }
               },
               "401":{
                  "description":"Unauthorized.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "500":{
                  "description":"Internal Server Error.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "200":{
                  "description":"The list of event APIs and the accompanying metadata.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/EventApisResponse"
                        }
                     }
                  }
               }
            }
         },
         "post":{
            "tags":[
               "Event APIs"
            ],
            "summary":"Creates an event API",
            "description":"Use this API to create an event API.",
            "operationId":"createEventApi",
            "requestBody":{
               "description":"The event API",
               "content":{
                  "application/json":{
                     "schema":{
                        "$ref":"#/components/schemas/EventApi"
                     }
                  }
               },
               "required":true
            },
            "responses":{
               "405":{
                  "description":"Method Not Allowed",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "501":{
                  "description":"Not Implemented",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "404":{
                  "description":"Not Found.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "403":{
                  "description":"Forbidden.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "503":{
                  "description":"Service Unavailable.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "504":{
                  "description":"Gateway Timeout.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "400":{
                  "description":"Bad Request.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     },
                     "*/*":{
                        "schema":{
                           "oneOf":[
                              {
                                 "$ref":"#/components/schemas/ErrorResponse"
                              },
                              {
                                 "$ref":"#/components/schemas/InvalidStateReference"
                              }
                           ]
                        }
                     }
                  }
               },
               "401":{
                  "description":"Unauthorized.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "500":{
                  "description":"Internal Server Error.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "201":{
                  "description":"Created an event API. The newly saved event API is returned in the response body.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/EventApiResponse"
                        }
                     }
                  }
               }
            }
         }
      },
      "/api/v2/architecture/consumers":{
         "get":{
            "tags":[
               "Consumers"
            ],
            "summary":"Gets the consumer objects",
            "description":"Use this API to retrieve a list of consumers that match the given parameters.",
            "operationId":"getConsumers",
            "parameters":[
               {
                  "name":"pageSize",
                  "in":"query",
                  "description":"The number of consumers to get per page. Min: 1 Max: 100",
                  "required":false,
                  "schema":{
                     "maximum":100,
                     "minimum":1,
                     "type":"integer",
                     "format":"int32",
                     "default":20
                  }
               },
               {
                  "name":"pageNumber",
                  "in":"query",
                  "description":"The page number to get. Min: 1",
                  "required":false,
                  "schema":{
                     "minimum":1,
                     "type":"integer",
                     "format":"int32",
                     "default":1
                  }
               },
               {
                  "name":"applicationVersionIds",
                  "in":"query",
                  "description":"Match only consumers with the given application version IDs, separated by commas.",
                  "required":false,
                  "schema":{
                     "uniqueItems":true,
                     "type":"array",
                     "items":{
                        "type":"string"
                     }
                  }
               },
               {
                  "name":"ids",
                  "in":"query",
                  "description":"Match only consumers with the given IDs separated by commas.",
                  "required":false,
                  "schema":{
                     "uniqueItems":true,
                     "type":"array",
                     "items":{
                        "type":"string"
                     }
                  }
               }
            ],
            "responses":{
               "405":{
                  "description":"Method Not Allowed",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "501":{
                  "description":"Not Implemented",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "404":{
                  "description":"Not Found.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "403":{
                  "description":"Forbidden.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "503":{
                  "description":"Service Unavailable.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "504":{
                  "description":"Gateway Timeout.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "400":{
                  "description":"Bad Request.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     },
                     "*/*":{
                        "schema":{
                           "oneOf":[
                              {
                                 "$ref":"#/components/schemas/ErrorResponse"
                              },
                              {
                                 "$ref":"#/components/schemas/InvalidStateReference"
                              }
                           ]
                        }
                     }
                  }
               },
               "401":{
                  "description":"Unauthorized.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "500":{
                  "description":"Internal Server Error.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "200":{
                  "description":"Retrieve a list of consumers and the accompanying metadata.",
                  "content":{
                     "application/json;charset=UTF-8":{
                        "schema":{
                           "$ref":"#/components/schemas/ConsumersResponse"
                        }
                     }
                  }
               }
            }
         },
         "post":{
            "tags":[
               "Consumers"
            ],
            "summary":"Creates a consumer object",
            "description":"Use this API to create a consumer. ",
            "operationId":"createConsumer",
            "requestBody":{
               "description":"The consumer object.",
               "content":{
                  "application/json":{
                     "schema":{
                        "$ref":"#/components/schemas/Consumer"
                     }
                  }
               },
               "required":true
            },
            "responses":{
               "405":{
                  "description":"Method Not Allowed",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "501":{
                  "description":"Not Implemented",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "404":{
                  "description":"Not Found.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "403":{
                  "description":"Forbidden.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "503":{
                  "description":"Service Unavailable.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "504":{
                  "description":"Gateway Timeout.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "400":{
                  "description":"Bad Request.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     },
                     "*/*":{
                        "schema":{
                           "oneOf":[
                              {
                                 "$ref":"#/components/schemas/ErrorResponse"
                              },
                              {
                                 "$ref":"#/components/schemas/InvalidStateReference"
                              }
                           ]
                        }
                     }
                  }
               },
               "401":{
                  "description":"Unauthorized.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "500":{
                  "description":"Internal Server Error.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "201":{
                  "description":"Created a consumer. Returns the newly saved consumer object in the response body.",
                  "content":{
                     "*/*":{
                        "schema":{
                           "$ref":"#/components/schemas/ConsumerResponse"
                        }
                     }
                  }
               }
            }
         }
      },
      "/api/v2/architecture/enums/{id}":{
         "get":{
            "tags":[
               "Enums"
            ],
            "summary":"Retrieves an enum object",
            "description":"Use this API to retrieve a single enum by its ID.",
            "operationId":"getEnum",
            "parameters":[
               {
                  "name":"id",
                  "in":"path",
                  "description":"The ID of the enum object.",
                  "required":true,
                  "schema":{
                     "type":"string"
                  }
               }
            ],
            "responses":{
               "405":{
                  "description":"Method Not Allowed",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "501":{
                  "description":"Not Implemented",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "404":{
                  "description":"Not Found.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "403":{
                  "description":"Forbidden.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "503":{
                  "description":"Service Unavailable.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "504":{
                  "description":"Gateway Timeout.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "400":{
                  "description":"Bad Request.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     },
                     "*/*":{
                        "schema":{
                           "oneOf":[
                              {
                                 "$ref":"#/components/schemas/ErrorResponse"
                              },
                              {
                                 "$ref":"#/components/schemas/InvalidStateReference"
                              }
                           ]
                        }
                     }
                  }
               },
               "401":{
                  "description":"Unauthorized.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "500":{
                  "description":"Internal Server Error.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "200":{
                  "description":"The enum object.",
                  "content":{
                     "application/json;charset=UTF-8":{
                        "schema":{
                           "$ref":"#/components/schemas/EnumResponse"
                        }
                     }
                  }
               }
            }
         },
         "delete":{
            "tags":[
               "Enums"
            ],
            "summary":"Deletes an enum",
            "description":"Use this API to delete an enum. The enum must not have any versions or else it cannot be deleted.",
            "operationId":"deleteEnum",
            "parameters":[
               {
                  "name":"id",
                  "in":"path",
                  "description":"The ID of the enum.",
                  "required":true,
                  "schema":{
                     "type":"string"
                  }
               }
            ],
            "responses":{
               "405":{
                  "description":"Method Not Allowed",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "501":{
                  "description":"Not Implemented",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "404":{
                  "description":"If the enum did not exist."
               },
               "403":{
                  "description":"Forbidden.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "503":{
                  "description":"Service Unavailable.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "504":{
                  "description":"Gateway Timeout.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "400":{
                  "description":"Bad Request.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     },
                     "*/*":{
                        "schema":{
                           "oneOf":[
                              {
                                 "$ref":"#/components/schemas/ErrorResponse"
                              },
                              {
                                 "$ref":"#/components/schemas/InvalidStateReference"
                              }
                           ]
                        }
                     }
                  }
               },
               "401":{
                  "description":"Unauthorized.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "500":{
                  "description":"Internal Server Error.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "204":{
                  "description":"No content is returned if the delete was successful."
               }
            }
         },
         "patch":{
            "tags":[
               "Enums"
            ],
            "summary":"Updates an enum object",
            "description":"description",
            "operationId":"updateEnum",
            "parameters":[
               {
                  "name":"id",
                  "in":"path",
                  "description":"The ID of the enum.",
                  "required":true,
                  "schema":{
                     "type":"string"
                  }
               }
            ],
            "requestBody":{
               "description":"Enum updates.",
               "content":{
                  "application/json;charset=UTF-8":{
                     "schema":{
                        "$ref":"#/components/schemas/Enum"
                     }
                  }
               },
               "required":true
            },
            "responses":{
               "405":{
                  "description":"Method Not Allowed",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "501":{
                  "description":"Not Implemented",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "404":{
                  "description":"Not Found.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "403":{
                  "description":"Forbidden.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "503":{
                  "description":"Service Unavailable.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "504":{
                  "description":"Gateway Timeout.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "400":{
                  "description":"Bad Request.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     },
                     "*/*":{
                        "schema":{
                           "oneOf":[
                              {
                                 "$ref":"#/components/schemas/ErrorResponse"
                              },
                              {
                                 "$ref":"#/components/schemas/InvalidStateReference"
                              }
                           ]
                        }
                     }
                  }
               },
               "401":{
                  "description":"Unauthorized.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "500":{
                  "description":"Internal Server Error.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "200":{
                  "description":"Updated an enum. The newly saved enum object is returned in the response body.",
                  "content":{
                     "application/json;charset=UTF-8":{
                        "schema":{
                           "$ref":"#/components/schemas/EnumResponse"
                        }
                     }
                  }
               }
            }
         }
      },
      "/api/v2/architecture/eventMeshes":{
         "get":{
            "tags":[
               "Event Meshes"
            ],
            "summary":"Gets the event mesh objects",
            "description":"Use this API to retrieve a list of event meshes that match the given parameters.",
            "operationId":"getEventMeshes",
            "parameters":[
               {
                  "name":"pageSize",
                  "in":"query",
                  "description":"The number of event meshes to get per page. Min: 1 Max: 100",
                  "required":false,
                  "schema":{
                     "maximum":100,
                     "minimum":1,
                     "type":"integer",
                     "format":"int32",
                     "default":20
                  }
               },
               {
                  "name":"pageNumber",
                  "in":"query",
                  "description":"The page number to get. Min: 1",
                  "required":false,
                  "schema":{
                     "minimum":1,
                     "type":"integer",
                     "format":"int32",
                     "default":1
                  }
               },
               {
                  "name":"name",
                  "in":"query",
                  "description":"Name of the event mesh to match on.",
                  "required":false,
                  "schema":{
                     "type":"string"
                  }
               },
               {
                  "name":"environmentId",
                  "in":"query",
                  "description":"Match only event meshes in the given environment",
                  "required":false,
                  "schema":{
                     "type":"string"
                  }
               }
            ],
            "responses":{
               "405":{
                  "description":"Method Not Allowed",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "501":{
                  "description":"Not Implemented",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "404":{
                  "description":"Not Found.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "403":{
                  "description":"Forbidden.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "503":{
                  "description":"Service Unavailable.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "504":{
                  "description":"Gateway Timeout.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "400":{
                  "description":"Bad Request.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     },
                     "*/*":{
                        "schema":{
                           "oneOf":[
                              {
                                 "$ref":"#/components/schemas/ErrorResponse"
                              },
                              {
                                 "$ref":"#/components/schemas/InvalidStateReference"
                              }
                           ]
                        }
                     }
                  }
               },
               "401":{
                  "description":"Unauthorized.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "500":{
                  "description":"Internal Server Error.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "200":{
                  "description":"The list of event meshes and the accompanying metadata.",
                  "content":{
                     "application/json;charset=UTF-8":{
                        "schema":{
                           "$ref":"#/components/schemas/EventMeshesResponse"
                        }
                     }
                  }
               }
            }
         },
         "post":{
            "tags":[
               "Event Meshes"
            ],
            "summary":"Creates an event mesh object",
            "description":"Creates an event mesh object.",
            "operationId":"createEventMesh",
            "requestBody":{
               "description":"Event mesh.",
               "content":{
                  "application/json;charset=UTF-8":{
                     "schema":{
                        "$ref":"#/components/schemas/EventMesh"
                     }
                  }
               },
               "required":true
            },
            "responses":{
               "405":{
                  "description":"Method Not Allowed",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "501":{
                  "description":"Not Implemented",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "404":{
                  "description":"Not Found.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "403":{
                  "description":"Forbidden.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "503":{
                  "description":"Service Unavailable.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "504":{
                  "description":"Gateway Timeout.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "400":{
                  "description":"Bad Request.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     },
                     "*/*":{
                        "schema":{
                           "oneOf":[
                              {
                                 "$ref":"#/components/schemas/ErrorResponse"
                              },
                              {
                                 "$ref":"#/components/schemas/InvalidStateReference"
                              }
                           ]
                        }
                     }
                  }
               },
               "401":{
                  "description":"Unauthorized.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "500":{
                  "description":"Internal Server Error.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "201":{
                  "description":"Created an event mesh. The newly saved event object is returned in the response body.",
                  "content":{
                     "application/json;charset=UTF-8":{
                        "schema":{
                           "$ref":"#/components/schemas/EventMeshResponse"
                        }
                     }
                  }
               }
            }
         }
      },
      "/api/v2/architecture/events/{id}":{
         "get":{
            "tags":[
               "Events"
            ],
            "summary":"Retrieves an event object",
            "description":"Use this API to retrieve a single event by its ID.",
            "operationId":"getEvent",
            "parameters":[
               {
                  "name":"id",
                  "in":"path",
                  "description":"The ID of the event object.",
                  "required":true,
                  "schema":{
                     "type":"string"
                  }
               }
            ],
            "responses":{
               "405":{
                  "description":"Method Not Allowed",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "501":{
                  "description":"Not Implemented",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "404":{
                  "description":"Not Found.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "403":{
                  "description":"Forbidden.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "503":{
                  "description":"Service Unavailable.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "504":{
                  "description":"Gateway Timeout.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "400":{
                  "description":"Bad Request.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     },
                     "*/*":{
                        "schema":{
                           "oneOf":[
                              {
                                 "$ref":"#/components/schemas/ErrorResponse"
                              },
                              {
                                 "$ref":"#/components/schemas/InvalidStateReference"
                              }
                           ]
                        }
                     }
                  }
               },
               "401":{
                  "description":"Unauthorized.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "500":{
                  "description":"Internal Server Error.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "200":{
                  "description":"The event object.",
                  "content":{
                     "application/json;charset=UTF-8":{
                        "schema":{
                           "$ref":"#/components/schemas/EventResponse"
                        }
                     }
                  }
               }
            }
         },
         "delete":{
            "tags":[
               "Events"
            ],
            "summary":"Deletes an event object",
            "description":"Use this API to delete an event.",
            "operationId":"deleteEvent",
            "parameters":[
               {
                  "name":"id",
                  "in":"path",
                  "description":"The ID of the event object.",
                  "required":true,
                  "schema":{
                     "type":"string"
                  }
               }
            ],
            "responses":{
               "405":{
                  "description":"Method Not Allowed",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "501":{
                  "description":"Not Implemented",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "404":{
                  "description":"Not Found.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "403":{
                  "description":"Forbidden.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "503":{
                  "description":"Service Unavailable.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "504":{
                  "description":"Gateway Timeout.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "400":{
                  "description":"Bad Request.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     },
                     "*/*":{
                        "schema":{
                           "oneOf":[
                              {
                                 "$ref":"#/components/schemas/ErrorResponse"
                              },
                              {
                                 "$ref":"#/components/schemas/InvalidStateReference"
                              }
                           ]
                        }
                     }
                  }
               },
               "401":{
                  "description":"Unauthorized.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "500":{
                  "description":"Internal Server Error.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "204":{
                  "description":"No content is returned."
               }
            }
         },
         "patch":{
            "tags":[
               "Events"
            ],
            "summary":"Updates an event object",
            "description":"Use this API to update an event. You only need to specify the fields that need to be updated.",
            "operationId":"updateEvent",
            "parameters":[
               {
                  "name":"id",
                  "in":"path",
                  "description":"The ID of the event object to update.",
                  "required":true,
                  "schema":{
                     "type":"string"
                  }
               }
            ],
            "requestBody":{
               "description":"The event object.",
               "content":{
                  "application/json;charset=UTF-8":{
                     "schema":{
                        "$ref":"#/components/schemas/Event"
                     }
                  }
               },
               "required":true
            },
            "responses":{
               "405":{
                  "description":"Method Not Allowed",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "501":{
                  "description":"Not Implemented",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "404":{
                  "description":"Not Found.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "403":{
                  "description":"Forbidden.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "503":{
                  "description":"Service Unavailable.",
                  "content":{
                     "application/json":{
                        "schema":{
[...]
