{
    "openapi" : "3.0.1",
    "info" : {
      "title" : "Event Portal",
      "description" : "REST API Concepts\n\nSolace PubSub+ Event Portal provides REST APIs that you can use to manage your data in PubSub+ Cloud. \nThe REST APIs allow you to model your event-driven architectures from your own client applications.\n\nThe following document describes the public REST APIs available for use in Event Portal 2.0. Objects created in this \nversion will not be available in Event Portal 1.0. APIs that display (Beta) in their summary are provided as-is and \nare subject to change or removal. They may not be of the quality expected for generally available APIs and have no \nguaranteed forward compatibility with the generally available version of the API.\n\n",
      "version" : "2.0.27"
    },
    "servers" : [ {
      "url" : "https://api.solace.cloud",
      "description" : "Solace PubSub+ Cloud"
    } ],
    "security" : [ {
      "APIToken" : [ ]
    } ],
    "tags" : [ {
      "name" : "Application Domain Operations"
    }, {
      "name" : "Application Domains"
    }, {
      "name" : "Applications"
    }, {
      "name" : "Audit Results"
    }, {
      "name" : "BFF Application Versions Frontend"
    }, {
      "name" : "Configuration Types"
    }, {
      "name" : "Configurations"
    }, {
      "name" : "Consumers"
    }, {
      "name" : "Custom Attribute Definitions"
    }, {
      "name" : "Enums"
    }, {
      "name" : "Environments"
    }, {
      "name" : "Event API Products"
    }, {
      "name" : "Event APIs"
    }, {
      "name" : "Event Management Agents"
    }, {
      "name" : "Event Meshes"
    }, {
      "name" : "Events"
    }, {
      "name" : "Messaging Service Scan Data"
    }, {
      "name" : "Messaging Service Scan Logs"
    }, {
      "name" : "Messaging Service Scans"
    }, {
      "name" : "Messaging Services"
    }, {
      "name" : "Schemas"
    }, {
      "name" : "States"
    }, {
      "name" : "Topic Domains"
    } ],
    "paths" : {
      "/api/v2/architecture/enums" : {
        "get" : {
          "tags" : [ "Enums" ],
          "summary" : "Get a list of enumerations",
          "description" : "Use this API to get a list of enumerations based on certain criteria.<br><br><a href=\"https://api.solace.dev/cloud/reference/authentication\">Token Permissions</a>: [ `event_designer:access` ]",
          "operationId" : "getEnums",
          "parameters" : [ {
            "name" : "pageSize",
            "in" : "query",
            "description" : "The number of enumerations to get per page.",
            "required" : false,
            "schema" : {
              "maximum" : 100,
              "minimum" : 1,
              "type" : "integer",
              "format" : "int32",
              "default" : 20
            }
          }, {
            "name" : "pageNumber",
            "in" : "query",
            "description" : "The page number to get.",
            "required" : false,
            "schema" : {
              "minimum" : 1,
              "type" : "integer",
              "format" : "int32",
              "default" : 1
            }
          }, {
            "name" : "ids",
            "in" : "query",
            "description" : "The IDs of the enumerations.",
            "required" : false,
            "schema" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            }
          }, {
            "name" : "applicationDomainId",
            "in" : "query",
            "description" : "The application domain ID of the enumerations.",
            "required" : false,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "applicationDomainIds",
            "in" : "query",
            "description" : "Match only enumerations in the given application domain ids.",
            "required" : false,
            "schema" : {
              "uniqueItems" : true,
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            }
          }, {
            "name" : "names",
            "in" : "query",
            "description" : "The names of the enumerations.",
            "required" : false,
            "schema" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            }
          }, {
            "name" : "shared",
            "in" : "query",
            "description" : "Match only with shared or unshared enumerations.",
            "required" : false,
            "schema" : {
              "type" : "boolean"
            }
          }, {
            "name" : "sort",
            "in" : "query",
            "description" : "Sort based on the provided parameters. <br> The value can be either a standalone field name (`?sort=<field>`) or a field and direction, delimited by a colon (`?sort=<field>:<asc|desc>`). If the direction is not specified, the default is ascending.",
            "required" : false,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "customAttributes",
            "in" : "query",
            "description" : "Returns the entities that match the custom attribute filter.<br>To filter by custom attribute name and value, use the format: `customAttributes=<custom-attribute-name>==<custom-attribute-value>`. <br>To filter by custom attribute name, use the format: `customAttributes=<custom-attribute-name>`. <br>The filter supports the `AND` operator for multiple custom attribute definitions (not multiple values for a given definition). Use `;` (`semicolon`) to separate multiple queries with `AND` operation. <br>Note: the filter supports custom attribute values containing only the characters `[a-zA-Z0-9_\\-\\. ]`.",
            "required" : false,
            "schema" : {
              "type" : "string"
            },
            "example" : "color==red"
          } ],
          "responses" : {
            "200" : {
              "description" : "Get a list of enumerations and the accompanying metadata.",
              "content" : {
                "application/json;charset=UTF-8" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/TopicAddressEnumsResponse"
                  }
                }
              }
            },
            "400" : {
              "description" : "Bad Request.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                },
                "*/*" : {
                  "schema" : {
                    "oneOf" : [ {
                      "$ref" : "#/components/schemas/ErrorResponse"
                    }, {
                      "$ref" : "#/components/schemas/InvalidStateReference"
                    } ]
                  }
                }
              }
            },
            "401" : {
              "description" : "Unauthorized.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "403" : {
              "description" : "Forbidden.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "404" : {
              "description" : "Not Found.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "405" : {
              "description" : "Method Not Allowed.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "500" : {
              "description" : "Internal Server Error.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "501" : {
              "description" : "Not Implemented.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "503" : {
              "description" : "Service Unavailable.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "504" : {
              "description" : "Gateway Timeout.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            }
          }
        },
        "post" : {
          "tags" : [ "Enums" ],
          "summary" : "Create an enumeration",
          "description" : "An enumeration is a bounded variable with a limited set of literal values. Use this API to create an enumeration to define acceptable values for a level in a topic address or topic domain.<br><br><a href=\"https://api.solace.dev/cloud/reference/authentication\">Token Permissions</a>: [ `ep_enum:create:*` ]",
          "operationId" : "createEnum",
          "requestBody" : {
            "description" : "Enumeration description.",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TopicAddressEnum"
                }
              }
            },
            "required" : true
          },
          "responses" : {
            "201" : {
              "description" : "Created an enumeration. The newly saved enumeration is returned in the response body.",
              "content" : {
                "application/json;charset=UTF-8" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/TopicAddressEnumResponse"
                  }
                }
              }
            },
            "400" : {
              "description" : "Bad Request.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                },
                "*/*" : {
                  "schema" : {
                    "oneOf" : [ {
                      "$ref" : "#/components/schemas/ErrorResponse"
                    }, {
                      "$ref" : "#/components/schemas/InvalidStateReference"
                    } ]
                  }
                }
              }
            },
            "401" : {
              "description" : "Unauthorized.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "403" : {
              "description" : "Forbidden.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "404" : {
              "description" : "Not Found.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "405" : {
              "description" : "Method Not Allowed.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "500" : {
              "description" : "Internal Server Error.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "501" : {
              "description" : "Not Implemented.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "503" : {
              "description" : "Service Unavailable.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "504" : {
              "description" : "Gateway Timeout.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v2/architecture/events" : {
        "get" : {
          "tags" : [ "Events" ],
          "summary" : "Get a list of events",
          "description" : "Use this API to get a list of events that match the given parameters.<br><br><a href=\"https://api.solace.dev/cloud/reference/authentication\">Token Permissions</a>: [ `event_designer:access` ]",
          "operationId" : "getEvents",
          "parameters" : [ {
            "name" : "pageSize",
            "in" : "query",
            "description" : "The number of events to get per page.",
            "required" : false,
            "schema" : {
              "maximum" : 100,
              "minimum" : 1,
              "type" : "integer",
              "format" : "int32",
              "default" : 20
            }
          }, {
            "name" : "pageNumber",
            "in" : "query",
            "description" : "The page number to get.",
            "required" : false,
            "schema" : {
              "minimum" : 1,
              "type" : "integer",
              "format" : "int32",
              "default" : 1
            }
          }, {
            "name" : "name",
            "in" : "query",
            "description" : "Name of the event to match on.",
            "required" : false,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "shared",
            "in" : "query",
            "description" : "Match only with shared or unshared events.",
            "required" : false,
            "schema" : {
              "type" : "boolean"
            }
          }, {
            "name" : "brokerType",
            "in" : "query",
            "description" : "Match only events with the given broker type",
            "required" : false,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "applicationDomainId",
            "in" : "query",
            "description" : "Match only events in the given application domain.",
            "required" : false,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "applicationDomainIds",
            "in" : "query",
            "description" : "Match only events in the given application domain ids.",
            "required" : false,
            "schema" : {
              "uniqueItems" : true,
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            }
          }, {
            "name" : "sort",
            "in" : "query",
            "description" : "Sort based on the provided parameters. <br> The value can be either a standalone field name (`?sort=<field>`) or a field and direction, delimited by a colon (`?sort=<field>:<asc|desc>`). If the direction is not specified, the default is ascending.",
            "required" : false,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "customAttributes",
            "in" : "query",
            "description" : "Returns the entities that match the custom attribute filter.<br>To filter by custom attribute name and value, use the format: `customAttributes=<custom-attribute-name>==<custom-attribute-value>`. <br>To filter by custom attribute name, use the format: `customAttributes=<custom-attribute-name>`. <br>The filter supports the `AND` operator for multiple custom attribute definitions (not multiple values for a given definition). Use `;` (`semicolon`) to separate multiple queries with `AND` operation. <br>Note: the filter supports custom attribute values containing only the characters `[a-zA-Z0-9_\\-\\. ]`.",
            "required" : false,
            "schema" : {
              "type" : "string"
            },
            "example" : "color==red"
          }, {
            "name" : "ids",
            "in" : "query",
            "description" : "Match only events with the given IDs separated by commas.",
            "required" : false,
            "schema" : {
              "uniqueItems" : true,
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "Get a list of events and the accompanying metadata.",
              "content" : {
                "*/*" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/EventsResponse"
                  }
                }
              }
            },
            "400" : {
              "description" : "Bad Request.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                },
                "*/*" : {
                  "schema" : {
                    "oneOf" : [ {
                      "$ref" : "#/components/schemas/ErrorResponse"
                    }, {
                      "$ref" : "#/components/schemas/InvalidStateReference"
                    } ]
                  }
                }
              }
            },
            "401" : {
              "description" : "Unauthorized.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "403" : {
              "description" : "Forbidden.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "404" : {
              "description" : "Not Found.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "405" : {
              "description" : "Method Not Allowed.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "500" : {
              "description" : "Internal Server Error.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "501" : {
              "description" : "Not Implemented.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "503" : {
              "description" : "Service Unavailable.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "504" : {
              "description" : "Gateway Timeout.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            }
          }
        },
        "post" : {
          "tags" : [ "Events" ],
          "summary" : "Create an event",
          "description" : "Events are the primary building block of an event-driven architecture. Applications publish and subscribe to events and events reference schemas.  In the Event Portal, an event is a type of event as opposed to a specific event instance.<br><br><a href=\"https://api.solace.dev/cloud/reference/authentication\">Token Permissions</a>: [ `event:create:*` ]",
          "operationId" : "createEvent",
          "requestBody" : {
            "description" : "The event requires a name and an application domain ID.",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Event"
                }
              }
            },
            "required" : true
          },
          "responses" : {
            "201" : {
              "description" : "Created an event. The newly saved event is returned in the response body.",
              "content" : {
                "application/json;charset=UTF-8" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/EventResponse"
                  }
                }
              }
            },
            "400" : {
              "description" : "Bad Request.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                },
                "*/*" : {
                  "schema" : {
                    "oneOf" : [ {
                      "$ref" : "#/components/schemas/ErrorResponse"
                    }, {
                      "$ref" : "#/components/schemas/InvalidStateReference"
                    } ]
                  }
                }
              }
            },
            "401" : {
              "description" : "Unauthorized.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "403" : {
              "description" : "Forbidden.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "404" : {
              "description" : "Not Found.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "405" : {
              "description" : "Method Not Allowed.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "500" : {
              "description" : "Internal Server Error.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "501" : {
              "description" : "Not Implemented.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "503" : {
              "description" : "Service Unavailable.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "504" : {
              "description" : "Gateway Timeout.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v2/architecture/states" : {
        "get" : {
          "tags" : [ "States" ],
          "summary" : "Get a list of lifecycle states",
          "description" : "Use this API to get a list of lifecycle states that match the given parameters.<br><br><a href=\"https://api.solace.dev/cloud/reference/authentication\">Token Permissions</a>: [ `event_designer:access` ]",
          "operationId" : "getStates",
          "responses" : {
            "200" : {
              "description" : "Get a list of lifecycle states and the accompanying metadata.",
              "content" : {
                "application/json;charset=UTF-8" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/StatesResponse"
                  }
                }
              }
            },
            "400" : {
              "description" : "Bad Request.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                },
                "*/*" : {
                  "schema" : {
                    "oneOf" : [ {
                      "$ref" : "#/components/schemas/ErrorResponse"
                    }, {
                      "$ref" : "#/components/schemas/InvalidStateReference"
                    } ]
                  }
                }
              }
            },
            "401" : {
              "description" : "Unauthorized.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "403" : {
              "description" : "Forbidden.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "404" : {
              "description" : "Not Found.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "405" : {
              "description" : "Method Not Allowed.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "500" : {
              "description" : "Internal Server Error.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "501" : {
              "description" : "Not Implemented.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "503" : {
              "description" : "Service Unavailable.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "504" : {
              "description" : "Gateway Timeout.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v2/architecture/schemas" : {
        "get" : {
          "tags" : [ "Schemas" ],
          "summary" : "Get a list of schemas",
          "description" : "Use this API to get a list of schemas that match the given parameters.<br><br><a href=\"https://api.solace.dev/cloud/reference/authentication\">Token Permissions</a>: [ `event_designer:access` ]",
          "operationId" : "getSchemas",
          "parameters" : [ {
            "name" : "pageSize",
            "in" : "query",
            "description" : "The number of schemas to get per page.",
            "required" : false,
            "schema" : {
              "maximum" : 100,
              "minimum" : 1,
              "type" : "integer",
              "format" : "int32",
              "default" : 20
            }
          }, {
            "name" : "pageNumber",
            "in" : "query",
            "description" : "The page number to get.",
            "required" : false,
            "schema" : {
              "minimum" : 1,
              "type" : "integer",
              "format" : "int32",
              "default" : 1
            }
          }, {
            "name" : "name",
            "in" : "query",
            "description" : "Name of the schema to match on.",
            "required" : false,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "shared",
            "in" : "query",
            "description" : "Match only with shared or unshared schemas.",
            "required" : false,
            "schema" : {
              "type" : "boolean"
            }
          }, {
            "name" : "applicationDomainId",
            "in" : "query",
            "description" : "Match only schemas in the given application domain.",
            "required" : false,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "schemaType",
            "in" : "query",
            "description" : "Match only schemas with the given schema type",
            "required" : false,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "applicationDomainIds",
            "in" : "query",
            "description" : "Match only schemas in the given application domain ids.",
            "required" : false,
            "schema" : {
              "uniqueItems" : true,
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            }
          }, {
            "name" : "ids",
            "in" : "query",
            "description" : "Match only schemas with the given IDs separated by commas.",
            "required" : false,
            "schema" : {
              "uniqueItems" : true,
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            }
          }, {
            "name" : "sort",
            "in" : "query",
            "description" : "Sort based on the provided parameters. <br> The value can be either a standalone field name (`?sort=<field>`) or a field and direction, delimited by a colon (`?sort=<field>:<asc|desc>`). If the direction is not specified, the default is ascending.",
            "required" : false,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "customAttributes",
            "in" : "query",
            "description" : "Returns the entities that match the custom attribute filter.<br>To filter by custom attribute name and value, use the format: `customAttributes=<custom-attribute-name>==<custom-attribute-value>`. <br>To filter by custom attribute name, use the format: `customAttributes=<custom-attribute-name>`. <br>The filter supports the `AND` operator for multiple custom attribute definitions (not multiple values for a given definition). Use `;` (`semicolon`) to separate multiple queries with `AND` operation. <br>Note: the filter supports custom attribute values containing only the characters `[a-zA-Z0-9_\\-\\. ]`.",
            "required" : false,
            "schema" : {
              "type" : "string"
            },
            "example" : "color==red"
          } ],
          "responses" : {
            "200" : {
              "description" : "Get a list of schemas and the accompanying metadata.",
              "content" : {
                "application/json;charset=UTF-8" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/SchemasResponse"
                  }
                }
              }
            },
            "400" : {
              "description" : "Bad Request.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                },
                "*/*" : {
                  "schema" : {
                    "oneOf" : [ {
                      "$ref" : "#/components/schemas/ErrorResponse"
                    }, {
                      "$ref" : "#/components/schemas/InvalidStateReference"
                    } ]
                  }
                }
              }
            },
            "401" : {
              "description" : "Unauthorized.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "403" : {
              "description" : "Forbidden.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "404" : {
              "description" : "Not Found.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "405" : {
              "description" : "Method Not Allowed.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "500" : {
              "description" : "Internal Server Error.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "501" : {
              "description" : "Not Implemented.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "503" : {
              "description" : "Service Unavailable.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "504" : {
              "description" : "Gateway Timeout.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            }
          }
        },
        "post" : {
          "tags" : [ "Schemas" ],
          "summary" : "Create a schema",
          "description" : "To model your event-driven architecture, schemas are a fundamental building block for modelling the payloads of the events flowing through your system. Use this API to create schemas that can later be referenced by events.<br><br><a href=\"https://api.solace.dev/cloud/reference/authentication\">Token Permissions</a>: [ `schema:create:*` ]",
          "operationId" : "createSchema",
          "requestBody" : {
            "description" : "The schema requires a name, an application domain, a schema type and a content type.",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SchemaObject"
                }
              }
            },
            "required" : true
          },
          "responses" : {
            "201" : {
              "description" : "Created a schema. The newly saved schema is returned in the response body.",
              "content" : {
                "application/json;charset=UTF-8" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/SchemaResponse"
                  }
                }
              }
            },
            "400" : {
              "description" : "Bad Request.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                },
                "*/*" : {
                  "schema" : {
                    "oneOf" : [ {
                      "$ref" : "#/components/schemas/ErrorResponse"
                    }, {
                      "$ref" : "#/components/schemas/InvalidStateReference"
                    } ]
                  }
                }
              }
            },
            "401" : {
              "description" : "Unauthorized.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "403" : {
              "description" : "Forbidden.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "404" : {
              "description" : "Not Found.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "405" : {
              "description" : "Method Not Allowed.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "500" : {
              "description" : "Internal Server Error.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "501" : {
              "description" : "Not Implemented.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "503" : {
              "description" : "Service Unavailable.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "504" : {
              "description" : "Gateway Timeout.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v2/architecture/eventApis" : {
        "get" : {
          "tags" : [ "Event APIs" ],
          "summary" : "Get a List of Event APIs",
          "description" : "Use this API to get a list of event APIs that match the given parameters.<br><br><a href=\"https://api.solace.dev/cloud/reference/authentication\">Token Permissions</a>: [ `event_designer:access` ]",
          "operationId" : "getEventApis",
          "parameters" : [ {
            "name" : "pageSize",
            "in" : "query",
            "description" : "The number of event APIs to get per page.",
            "required" : false,
            "schema" : {
              "maximum" : 100,
              "minimum" : 1,
              "type" : "integer",
              "format" : "int32",
              "default" : 20
            }
          }, {
            "name" : "pageNumber",
            "in" : "query",
            "description" : "The page number to get.",
            "required" : false,
            "schema" : {
              "minimum" : 1,
              "type" : "integer",
              "format" : "int32",
              "default" : 1
            }
          }, {
            "name" : "name",
            "in" : "query",
            "description" : "Name of the event API to match on.",
            "required" : false,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "ids",
            "in" : "query",
            "description" : "Match only event APIs with the given IDs separated by commas.",
            "required" : false,
            "schema" : {
              "uniqueItems" : true,
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            }
          }, {
            "name" : "applicationDomainId",
            "in" : "query",
            "description" : "Match only event APIs in the given application domain.",
            "required" : false,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "applicationDomainIds",
            "in" : "query",
            "description" : "Match only event APIs in the given application domains.",
            "required" : false,
            "schema" : {
              "uniqueItems" : true,
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            }
          }, {
            "name" : "eventApiVersionIds",
            "in" : "query",
            "description" : "Match only event APIs in the given event API version ids.",
            "required" : false,
            "schema" : {
              "uniqueItems" : true,
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            }
          }, {
            "name" : "availableWithinApplicationDomainIds",
            "in" : "query",
            "description" : "Additionally match any shared event APIs in any application domain.",
            "required" : false,
            "schema" : {
              "type" : "boolean"
            }
          }, {
            "name" : "shared",
            "in" : "query",
            "description" : "Match only with shared or unshared event APIs.",
            "required" : false,
            "schema" : {
              "type" : "boolean"
            }
          }, {
            "name" : "brokerType",
            "in" : "query",
            "description" : "Match only event APIs with the given broker type.",
            "required" : false,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "sort",
            "in" : "query",
            "description" : "Sort based on the provided parameters. <br> The value can be either a standalone field name (`?sort=<field>`) or a field and direction, delimited by a colon (`?sort=<field>:<asc|desc>`). If the direction is not specified, the default is ascending.",
            "required" : false,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "customAttributes",
            "in" : "query",
            "description" : "Returns the entities that match the custom attribute filter.<br>To filter by custom attribute name and value, use the format: `customAttributes=<custom-attribute-name>==<custom-attribute-value>`. <br>To filter by custom attribute name, use the format: `customAttributes=<custom-attribute-name>`. <br>The filter supports the `AND` operator for multiple custom attribute definitions (not multiple values for a given definition). Use `;` (`semicolon`) to separate multiple queries with `AND` operation. <br>Note: the filter supports custom attribute values containing only the characters `[a-zA-Z0-9_\\-\\. ]`.",
            "required" : false,
            "schema" : {
              "type" : "string"
            },
            "example" : "color==red"
          } ],
          "responses" : {
            "200" : {
              "description" : "Get a list of event APIs and the accompanying metadata.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/EventApisResponse"
                  }
                }
              }
            },
            "400" : {
              "description" : "Bad Request.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                },
                "*/*" : {
                  "schema" : {
                    "oneOf" : [ {
                      "$ref" : "#/components/schemas/ErrorResponse"
                    }, {
                      "$ref" : "#/components/schemas/InvalidStateReference"
                    } ]
                  }
                }
              }
            },
            "401" : {
              "description" : "Unauthorized.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "403" : {
              "description" : "Forbidden.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "404" : {
              "description" : "Not Found.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "405" : {
              "description" : "Method Not Allowed.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "500" : {
              "description" : "Internal Server Error.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "501" : {
              "description" : "Not Implemented.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "503" : {
              "description" : "Service Unavailable.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "504" : {
              "description" : "Gateway Timeout.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            }
          }
        },
        "post" : {
          "tags" : [ "Event APIs" ],
          "summary" : "Create an Event API",
          "description" : "Use this API to create an event API.<br><br><a href=\"https://api.solace.dev/cloud/reference/authentication\">Token Permissions</a>: [ `event_api:create:*` ]",
          "operationId" : "createEventApi",
          "requestBody" : {
            "description" : "The event API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EventApi"
                }
              }
            },
            "required" : true
          },
          "responses" : {
            "201" : {
              "description" : "Created an event API. The newly saved event API is returned in the response body.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/EventApiResponse"
                  }
                }
              }
            },
            "400" : {
              "description" : "Bad Request.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                },
                "*/*" : {
                  "schema" : {
                    "oneOf" : [ {
                      "$ref" : "#/components/schemas/ErrorResponse"
                    }, {
                      "$ref" : "#/components/schemas/InvalidStateReference"
                    } ]
                  }
                }
              }
            },
            "401" : {
              "description" : "Unauthorized.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "403" : {
              "description" : "Forbidden.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "404" : {
              "description" : "Not Found.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "405" : {
              "description" : "Method Not Allowed.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "500" : {
              "description" : "Internal Server Error.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "501" : {
              "description" : "Not Implemented.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "503" : {
              "description" : "Service Unavailable.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "504" : {
              "description" : "Gateway Timeout.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v2/architecture/consumers" : {
        "get" : {
          "tags" : [ "Consumers" ],
          "summary" : "Get a list of consumers",
          "description" : "Use this API to get a list of consumers that match the given parameters.<br><br><a href=\"https://api.solace.dev/cloud/reference/authentication\">Token Permissions</a>: [ `event_designer:access` ]",
          "operationId" : "getConsumers",
          "parameters" : [ {
            "name" : "pageSize",
            "in" : "query",
            "description" : "The number of consumers to get per page.",
            "required" : false,
            "schema" : {
              "maximum" : 100,
              "minimum" : 1,
              "type" : "integer",
              "format" : "int32",
              "default" : 20
            }
          }, {
            "name" : "pageNumber",
            "in" : "query",
            "description" : "The page number to get.",
            "required" : false,
            "schema" : {
              "minimum" : 1,
              "type" : "integer",
              "format" : "int32",
              "default" : 1
            }
          }, {
            "name" : "applicationVersionIds",
            "in" : "query",
            "description" : "Match only consumers with the given application version IDs, separated by commas.",
            "required" : false,
            "schema" : {
              "uniqueItems" : true,
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            }
          }, {
            "name" : "ids",
            "in" : "query",
            "description" : "Match only consumers with the given IDs separated by commas.",
            "required" : false,
            "schema" : {
              "uniqueItems" : true,
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "Get a list of consumers and the accompanying metadata.",
              "content" : {
                "application/json;charset=UTF-8" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ConsumersResponse"
                  }
                }
              }
            },
            "400" : {
              "description" : "Bad Request.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                },
                "*/*" : {
                  "schema" : {
                    "oneOf" : [ {
                      "$ref" : "#/components/schemas/ErrorResponse"
                    }, {
                      "$ref" : "#/components/schemas/InvalidStateReference"
                    } ]
                  }
                }
              }
            },
            "401" : {
              "description" : "Unauthorized.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "403" : {
              "description" : "Forbidden.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "404" : {
              "description" : "Not Found.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "405" : {
              "description" : "Method Not Allowed.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "500" : {
              "description" : "Internal Server Error.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "501" : {
              "description" : "Not Implemented.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "503" : {
              "description" : "Service Unavailable.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "504" : {
              "description" : "Gateway Timeout.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            }
          }
        },
        "post" : {
          "tags" : [ "Consumers" ],
          "summary" : "Create a consumer",
          "description" : "Use this API to create a consumer.<br><br><a href=\"https://api.solace.dev/cloud/reference/authentication\">Token Permissions</a>: [ `application:update:*` ]",
          "operationId" : "createConsumer",
          "requestBody" : {
            "description" : "The consumer.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Consumer"
                }
              }
            },
            "required" : true
          },
          "responses" : {
            "201" : {
              "description" : "Created a consumer. Returns the newly saved consumer in the response body.",
              "content" : {
                "*/*" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ConsumerResponse"
                  }
                }
              }
            },
            "400" : {
              "description" : "Bad Request.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                },
                "*/*" : {
                  "schema" : {
                    "oneOf" : [ {
                      "$ref" : "#/components/schemas/ErrorResponse"
                    }, {
                      "$ref" : "#/components/schemas/InvalidStateReference"
                    } ]
                  }
                }
              }
            },
            "401" : {
              "description" : "Unauthorized.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "403" : {
              "description" : "Forbidden.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "404" : {
              "description" : "Not Found.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "405" : {
              "description" : "Method Not Allowed.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "500" : {
              "description" : "Internal Server Error.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "501" : {
              "description" : "Not Implemented.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "503" : {
              "description" : "Service Unavailable.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "504" : {
              "description" : "Gateway Timeout.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v2/architecture/enums/{id}" : {
        "get" : {
          "tags" : [ "Enums" ],
          "summary" : "Get an enumeration",
          "description" : "Use this API to get a single enumeration by its ID.<br><br><a href=\"https://api.solace.dev/cloud/reference/authentication\">Token Permissions</a>: [ `ep_enum:get:*` ]",
          "operationId" : "getEnum",
          "parameters" : [ {
            "name" : "id",
            "in" : "path",
            "description" : "The ID of the enumeration.",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "The enumeration.",
              "content" : {
                "application/json;charset=UTF-8" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/TopicAddressEnumResponse"
                  }
                }
              }
            },
            "400" : {
              "description" : "Bad Request.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                },
                "*/*" : {
                  "schema" : {
                    "oneOf" : [ {
                      "$ref" : "#/components/schemas/ErrorResponse"
                    }, {
                      "$ref" : "#/components/schemas/InvalidStateReference"
                    } ]
                  }
                }
              }
            },
            "401" : {
              "description" : "Unauthorized.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "403" : {
              "description" : "Forbidden.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "404" : {
              "description" : "Not Found.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "405" : {
              "description" : "Method Not Allowed.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "500" : {
              "description" : "Internal Server Error.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "501" : {
              "description" : "Not Implemented.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "503" : {
              "description" : "Service Unavailable.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "504" : {
              "description" : "Gateway Timeout.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            }
          }
        },
        "delete" : {
          "tags" : [ "Enums" ],
          "summary" : "Delete an enumeration",
          "description" : "Use this API to delete an enumeration. The enumeration must not have any versions or else it cannot be deleted.<br><br><a href=\"https://api.solace.dev/cloud/reference/authentication\">Token Permissions</a>: [ `ep_enum:delete:*` ]",
          "operationId" : "deleteEnum",
          "parameters" : [ {
            "name" : "id",
            "in" : "path",
            "description" : "The ID of the enumeration.",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          } ],
          "responses" : {
            "204" : {
              "description" : "No content is returned if the delete was successful."
            },
            "400" : {
              "description" : "Bad Request.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                },
                "*/*" : {
                  "schema" : {
                    "oneOf" : [ {
                      "$ref" : "#/components/schemas/ErrorResponse"
                    }, {
                      "$ref" : "#/components/schemas/InvalidStateReference"
                    } ]
                  }
                }
              }
            },
            "401" : {
              "description" : "Unauthorized.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "403" : {
              "description" : "Forbidden.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "404" : {
              "description" : "If the enumeration did not exist."
            },
            "405" : {
              "description" : "Method Not Allowed.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "500" : {
              "description" : "Internal Server Error.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "501" : {
              "description" : "Not Implemented.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "503" : {
              "description" : "Service Unavailable.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "504" : {
              "description" : "Gateway Timeout.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            }
          }
        },
        "patch" : {
          "tags" : [ "Enums" ],
          "summary" : "Update an enumeration",
          "description" : "Use this API to update an enumeration object. You only need to specify the fields that need to be updated.<br><br><a href=\"https://api.solace.dev/cloud/reference/authentication\">Token Permissions</a>: [ `ep_enum:update:*` ]",
          "operationId" : "updateEnum",
          "parameters" : [ {
            "name" : "id",
            "in" : "path",
            "description" : "The ID of the enumeration.",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          } ],
          "requestBody" : {
            "description" : "Enumeration updates.",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TopicAddressEnum"
                }
              }
            },
            "required" : true
          },
          "responses" : {
            "200" : {
              "description" : "Updated an enumeration. The newly saved enumeration is returned in the response body.",
              "content" : {
                "application/json;charset=UTF-8" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/TopicAddressEnumResponse"
                  }
                }
              }
            },
            "400" : {
              "description" : "Bad Request.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                },
                "*/*" : {
                  "schema" : {
                    "oneOf" : [ {
                      "$ref" : "#/components/schemas/ErrorResponse"
                    }, {
                      "$ref" : "#/components/schemas/InvalidStateReference"
                    } ]
                  }
                }
              }
            },
            "401" : {
              "description" : "Unauthorized.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "403" : {
              "description" : "Forbidden.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "404" : {
              "description" : "Not Found.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "405" : {
              "description" : "Method Not Allowed.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "500" : {
              "description" : "Internal Server Error.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "501" : {
              "description" : "Not Implemented.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "503" : {
              "description" : "Service Unavailable.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "504" : {
              "description" : "Gateway Timeout.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v2/architecture/eventMeshes" : {
        "get" : {
          "tags" : [ "Event Meshes" ],
          "summary" : "Get a list of event meshes",
          "description" : "Use this API to get a list of event meshes that match the given parameters.<br><br><a href=\"https://api.solace.dev/cloud/reference/authentication\">Token Permissions</a>: [ `modeled_event_mesh:get:*` ]",
          "operationId" : "getEventMeshes",
          "parameters" : [ {
            "name" : "pageSize",
            "in" : "query",
            "description" : "The number of event meshes to get per page.",
            "required" : false,
            "schema" : {
              "maximum" : 100,
              "minimum" : 1,
              "type" : "integer",
              "format" : "int32",
              "default" : 20
            }
          }, {
            "name" : "pageNumber",
            "in" : "query",
            "description" : "The page number to get.",
            "required" : false,
            "schema" : {
              "minimum" : 1,
              "type" : "integer",
              "format" : "int32",
              "default" : 1
            }
          }, {
            "name" : "name",
            "in" : "query",
            "description" : "Name of the event mesh to match on.",
            "required" : false,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "environmentId",
            "in" : "query",
            "description" : "Match only event meshes in the given environment",
            "required" : false,
            "schema" : {
              "type" : "string"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "The list of event meshes and the accompanying metadata.",
              "content" : {
                "application/json;charset=UTF-8" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/EventMeshesResponse"
                  }
                }
              }
            },
            "400" : {
              "description" : "Bad Request.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                },
                "*/*" : {
                  "schema" : {
                    "oneOf" : [ {
                      "$ref" : "#/components/schemas/ErrorResponse"
                    }, {
                      "$ref" : "#/components/schemas/InvalidStateReference"
                    } ]
                  }
                }
              }
            },
            "401" : {
              "description" : "Unauthorized.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "403" : {
              "description" : "Forbidden.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "404" : {
              "description" : "Not Found.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "405" : {
              "description" : "Method Not Allowed.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "500" : {
              "description" : "Internal Server Error.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "501" : {
              "description" : "Not Implemented.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "503" : {
              "description" : "Service Unavailable.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "504" : {
              "description" : "Gateway Timeout.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            }
          }
        },
        "post" : {
          "tags" : [ "Event Meshes" ],
          "summary" : "Create an event mesh",
          "description" : "Create an event mesh.",
          "operationId" : "createEventMesh",
          "requestBody" : {
            "description" : "Event mesh.",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EventMesh"
                }
              }
            },
            "required" : true
          },
          "responses" : {
            "201" : {
              "description" : "Created an event mesh. The newly saved event mesh is returned in the response body.",
              "content" : {
                "application/json;charset=UTF-8" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/EventMeshResponse"
                  }
                }
              }
            },
            "400" : {
              "description" : "Bad Request.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                },
                "*/*" : {
                  "schema" : {
                    "oneOf" : [ {
                      "$ref" : "#/components/schemas/ErrorResponse"
                    }, {
                      "$ref" : "#/components/schemas/InvalidStateReference"
                    } ]
                  }
                }
              }
            },
            "401" : {
              "description" : "Unauthorized.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "403" : {
              "description" : "Forbidden.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "404" : {
              "description" : "Not Found.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "405" : {
              "description" : "Method Not Allowed.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "500" : {
              "description" : "Internal Server Error.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "501" : {
              "description" : "Not Implemented.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "503" : {
              "description" : "Service Unavailable.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "504" : {
              "description" : "Gateway Timeout.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v2/architecture/events/{id}" : {
        "get" : {
          "tags" : [ "Events" ],
          "summary" : "Get an event",
          "description" : "Use this API to get a single event by its ID.<br><br><a href=\"https://api.solace.dev/cloud/reference/authentication\">Token Permissions</a>: [ `event:get:*` ]",
          "operationId" : "getEvent",
          "parameters" : [ {
            "name" : "id",
            "in" : "path",
            "description" : "The ID of the event.",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "The event.",
              "content" : {
                "application/json;charset=UTF-8" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/EventResponse"
                  }
                }
              }
            },
            "400" : {
              "description" : "Bad Request.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                },
                "*/*" : {
                  "schema" : {
                    "oneOf" : [ {
                      "$ref" : "#/components/schemas/ErrorResponse"
                    }, {
                      "$ref" : "#/components/schemas/InvalidStateReference"
                    } ]
                  }
                }
              }
            },
            "401" : {
              "description" : "Unauthorized.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "403" : {
              "description" : "Forbidden.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "404" : {
              "description" : "Not Found.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "405" : {
              "description" : "Method Not Allowed.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "500" : {
              "description" : "Internal Server Error.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "501" : {
              "description" : "Not Implemented.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "503" : {
              "description" : "Service Unavailable.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "504" : {
              "description" : "Gateway Timeout.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            }
          }
        },
        "delete" : {
          "tags" : [ "Events" ],
          "summary" : "Delete an event",
          "description" : "Use this API to delete an event.<br><br><a href=\"https://api.solace.dev/cloud/reference/authentication\">Token Permissions</a>: [ `event:delete:*` ]",
          "operationId" : "deleteEvent",
          "parameters" : [ {
            "name" : "id",
            "in" : "path",
            "description" : "The ID of the event.",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          } ],
          "responses" : {
            "204" : {
              "description" : "No content is returned."
            },
            "400" : {
              "description" : "Bad Request.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                },
                "*/*" : {
                  "schema" : {
                    "oneOf" : [ {
                      "$ref" : "#/components/schemas/ErrorResponse"
                    }, {
                      "$ref" : "#/components/schemas/InvalidStateReference"
                    } ]
                  }
                }
              }
            },
            "401" : {
              "description" : "Unauthorized.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "403" : {
              "description" : "Forbidden.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "404" : {
              "description" : "Not Found.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "405" : {
              "description" : "Method Not Allowed.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "500" : {
              "description" : "Internal Server Error.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "501" : {
              "description" : "Not Implemented.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "503" : {
              "description" : "Service Unavailable.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "504" : {
              "description" : "Gateway Timeout.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            }
          }
        },
        "patch" : {
          "tags" : [ "Events" ],
          "summary" : "Update an event",
          "description" : "Use this API to update an event. You only need to specify the fields that need to be updated.<br><br><a href=\"https://api.solace.dev/cloud/reference/authentication\">Token Permissions</a>: [ `event:update:*` ]",
          "operationId" : "updateEvent",
          "parameters" : [ {
            "name" : "id",
            "in" : "path",
            "description" : "The ID of the event to update.",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          } ],
          "requestBody" : {
            "description" : "The event.",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Event"
                }
              }
            },
            "required" : true
          },
          "responses" : {
            "200" : {
              "description" : "The updated event.",
              "content" : {
                "application/json;charset=UTF-8" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/EventResponse"
                  }
                }
              }
            },
            "400" : {
              "description" : "Bad Request.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                },
                "*/*" : {
                  "schema" : {
                    "oneOf" : [ {
                      "$ref" : "#/components/schemas/ErrorResponse"
                    }, {
                      "$ref" : "#/components/schemas/InvalidStateReference"
                    } ]
                  }
                }
              }
            },
            "401" : {
              "description" : "Unauthorized.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "403" : {
              "description" : "Forbidden.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "404" : {
              "description" : "Not Found.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "405" : {
              "description" : "Method Not Allowed.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "500" : {
              "description" : "Internal Server Error.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "501" : {
              "description" : "Not Implemented.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "503" : {
              "description" : "Service Unavailable.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "504" : {
              "description" : "Gateway Timeout.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ErrorResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v2/architecture/topicDomains" : {
        "get" : {
          "tags" : [ "Topic Domains" ],
          "summary" : "Get a list of the topic domains",
          "description" : "Use this API to get a list of topic domains that match the given parameters.<br><br><a href=\"https://api.solace.dev/cloud/reference/authentication\">Token Permissions</a>: [ `event_designer:access` ]",
          "operationId" : "getTopicDomains",
          "parameters" : [ {
            "name" : "pageSize",
            "in" : "query",
            "description" : "The number of topic domains to get per page.",
            "required" : false,
            "schema" : {
              "maximum" : 100,
              "minimum" : 1,
              "type" : "integer",
              "format" : "int32",
              "default" : 20
            }
          }, {
            "name" : "pageNumber",
            "in" : "query",
            "description" : "The page number to get.",
            "required" : false,
            "schema" : {
              "minimum" : 1,
              "type" : "integer",
              "format" : "int32",
              "default" : 1
            }
          }, {
            "name" : "ids",
            "in" : "query",
            "description" : "Match only topic domains with the given IDs separated by commas.",
            "required" : false,
            "schema" : {
              "uniqueItems" : true,
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            }
          }, {
            "name" : "brokerType",
            "in" : "query",
            "description" : "Match only topic domains with the given brokerType.",
            "required" : false,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "applicationDomainIds",
            "in" : "query",
            "description" : "Match only topic domains with the given application domain ids separated by commas.",
            "required" : false,
            "schema" : {
              "uniqueItems" : true,
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            }
          }, {
            "name" : "applicationDomainId",
            "in" : "query",
[...]
