{
  "openapi": "3.0.0",
  "info": {
    "title": "API Management / Dev Portal API",
    "description": "This OpenAPI specification describes the contract for the API Management / Dev Portal API. Please note - at this time the specification is in an elaboration/design phase and there is currently no API Implementation available.",
    "version": "2.0.0-alpha.001",
    "license": {
      "name": "MIT",
      "url": "https://github.com/solace-iot-team/platform-api/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://api.solace.cloud/api/v2/apim"
    }
  ],
  "security": [
    {
      "OpenId": []
    },
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "eventapiproducts",
      "description": "Manage APIs and API Products"
    },
    {
      "name": "registrations",
      "description": "Manage consumer credentials and access requests for apps"
    },
    {
      "name": "gateways",
      "description": "Gateway Messaging Services"
    },
    {
      "name": "candidates",
      "description": "Candidate resources and operations for review - e.e. API Management may want to create and manage API Product Plans"
    }
  ],
  "paths": {
    "/eventApiProducts": {
      "get": {
        "summary": "Coming Soon",
        "description": "\"This resource allows filtering of results by query using RSQL.\nExample: ?query=brokerType==solace and version.state==RETIRED\nThe following fields are available: id, name, applicationDomainName, applicationDomainId, shared, \nbrokerType, customAttributes.name, customAttributes.value, plan id\nversion.createdTime, version.updatedTime, version.description, version.version, version.summary, version.displayName, version.state,\nversion.customAttributes.name, version.customAttributes.value\"\n",
        "operationId": "listEventApiProducts",
        "tags": [
          "eventapiproducts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/query"
          },
          {
            "$ref": "#/components/parameters/page_size"
          },
          {
            "$ref": "#/components/parameters/page_number"
          },
          {
            "$ref": "#/components/parameters/sort_field_name"
          },
          {
            "$ref": "#/components/parameters/sort_direction"
          }
        ],
        "responses": {
          "200": {
            "description": "list of event api products",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventApiProductsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      },
      "post": {
        "summary": "Coming Soon",
        "operationId": "createEventAPIProduct",
        "tags": [
          "candidates"
        ],
        "requestBody": {
          "description": "String",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventApiProductVersion"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "New Event API Product",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventApiProductResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Likely an invalid auth token provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "422": {
            "description": "Duplicate organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/eventApiProducts/{eventApiProductId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/eventApiProductId"
        }
      ],
      "get": {
        "summary": "Coming Soon",
        "operationId": "getEventAPIProduct",
        "tags": [
          "eventapiproducts"
        ],
        "responses": {
          "200": {
            "description": "the Event API Product",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventApiProductResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      },
      "patch": {
        "summary": "Coming Soon",
        "operationId": "updateEventApiProduct",
        "tags": [
          "candidates"
        ],
        "requestBody": {
          "description": "String",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventApiProductVersion"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated Event API Product",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventApiProductResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      },
      "delete": {
        "summary": "Coming Soon",
        "operationId": "deleteEventApiProduct",
        "tags": [
          "candidates"
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/eventApiProducts/{eventApiProductId}/revisions": {
      "parameters": [
        {
          "$ref": "#/components/parameters/eventApiProductId"
        }
      ],
      "get": {
        "summary": "Coming Soon",
        "operationId": "getEventAPIProductRevisions",
        "tags": [
          "eventapiproducts"
        ],
        "responses": {
          "200": {
            "description": "the Event API Product revisions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventApiProductsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/eventApiProducts/{eventApiProductId}/revisions/{revisionId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/revisionId"
        },
        {
          "$ref": "#/components/parameters/eventApiProductId"
        }
      ],
      "get": {
        "summary": "Coming Soon",
        "operationId": "getEventAPIProductRevision",
        "tags": [
          "eventapiproducts"
        ],
        "responses": {
          "200": {
            "description": "the Event API Product revisions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventApiProductResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/eventApiProducts/{eventApiProductId}/attributes": {
      "parameters": [
        {
          "$ref": "#/components/parameters/eventApiProductId"
        }
      ],
      "get": {
        "summary": "Coming Soon",
        "operationId": "getEventAPIProductAttributes",
        "tags": [
          "eventapiproducts"
        ],
        "responses": {
          "200": {
            "description": "the Event API Product Attributes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomAttributesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      },
      "post": {
        "summary": "Coming Soon",
        "operationId": "createEventApiProductAttribute",
        "tags": [
          "eventapiproducts"
        ],
        "requestBody": {
          "description": "New Event API Product Attribute",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomAttribute"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created Event API Product Attribute",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomAttributeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/eventApiProducts/{eventApiProductId}/attributes/{attributeId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/attributeId"
        },
        {
          "$ref": "#/components/parameters/eventApiProductId"
        }
      ],
      "get": {
        "summary": "Coming Soon",
        "operationId": "getEventAPIProductAttribute",
        "tags": [
          "eventapiproducts"
        ],
        "responses": {
          "200": {
            "description": "the Event API Product Attribute",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomAttributeResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      },
      "patch": {
        "summary": "Coming Soon",
        "operationId": "updateEventApiProductAttribute",
        "tags": [
          "eventapiproducts"
        ],
        "requestBody": {
          "description": "Patch for Event API Product Attribute",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomAttribute"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated Event API Product Attribute",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomAttributeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      },
      "delete": {
        "summary": "Coming Soon",
        "operationId": "deleteEventApiProductAttribute",
        "tags": [
          "eventapiproducts"
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/eventApiProducts/{eventApiProductId}/versionAttributes": {
      "parameters": [
        {
          "$ref": "#/components/parameters/eventApiProductId"
        }
      ],
      "get": {
        "summary": "Coming Soon",
        "operationId": "getEventAPIProductVersionAttributes",
        "tags": [
          "eventapiproducts"
        ],
        "responses": {
          "200": {
            "description": "the Event API Product's Versioned Attributes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomAttributesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      },
      "post": {
        "summary": "Coming Soon",
        "operationId": "createEventApiProductVersionAttribute",
        "tags": [
          "eventapiproducts"
        ],
        "requestBody": {
          "description": "New Event API Product Versioned Attribute",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomAttribute"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created Event API Product Attribute",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomAttributeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/eventApiProducts/{eventApiProductId}/versionAttributes/{attributeId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/attributeId"
        },
        {
          "$ref": "#/components/parameters/eventApiProductId"
        }
      ],
      "get": {
        "summary": "Coming Soon",
        "operationId": "getEventAPIProductVersionAttribute",
        "tags": [
          "eventapiproducts"
        ],
        "responses": {
          "200": {
            "description": "the Event API Product Versioned Attribute",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomAttributeResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      },
      "patch": {
        "summary": "Coming Soon",
        "operationId": "updateEventApiProductVersionAttribute",
        "tags": [
          "eventapiproducts"
        ],
        "requestBody": {
          "description": "Patch for Event API Product Versioned Attribute",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomAttribute"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated Event API Product Version Attribute",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomAttributeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      },
      "delete": {
        "summary": "Coming Soon",
        "operationId": "deleteEventApiProductVersionAttribute",
        "tags": [
          "eventapiproducts"
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/eventApiProducts/{eventApiProductId}/plans": {
      "parameters": [
        {
          "$ref": "#/components/parameters/eventApiProductId"
        }
      ],
      "get": {
        "summary": "Coming Soon",
        "operationId": "getEventAPIProductPlans",
        "tags": [
          "eventapiproducts"
        ],
        "responses": {
          "200": {
            "description": "the Event API Product Plans",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlansResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      },
      "post": {
        "summary": "Coming Soon",
        "operationId": "createEventApiProductPlan",
        "tags": [
          "candidates"
        ],
        "requestBody": {
          "description": "New Event API Product Plan",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Plan"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created Event API Product Plan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/eventApiProducts/{eventApiProductId}/plans/{planId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/planId"
        },
        {
          "$ref": "#/components/parameters/eventApiProductId"
        }
      ],
      "get": {
        "summary": "Coming Soon",
        "operationId": "getEventAPIProductPlan",
        "tags": [
          "eventapiproducts"
        ],
        "responses": {
          "200": {
            "description": "the Event API Product Plan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      },
      "patch": {
        "summary": "Coming Soon",
        "operationId": "updateEventApiProductPlan",
        "tags": [
          "candidates"
        ],
        "requestBody": {
          "description": "Patch to the Event API Product Plan",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Plan"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated Event API Product PLan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      },
      "delete": {
        "summary": "Coming Soon",
        "operationId": "deleteEventApiProductPlan",
        "tags": [
          "candidates"
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/eventApiProducts/{eventApiProductId}/plans/{planId}/eventApis": {
      "parameters": [
        {
          "$ref": "#/components/parameters/planId"
        },
        {
          "$ref": "#/components/parameters/eventApiProductId"
        }
      ],
      "get": {
        "summary": "Coming Soon",
        "operationId": "getEventAPIProductPlanApis",
        "tags": [
          "eventapiproducts"
        ],
        "responses": {
          "200": {
            "description": "list of the Event API Product Plan APIs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventApisResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/eventApiProducts/{eventApiProductId}/plans/{planId}/eventApis/{eventApiId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/eventApiId"
        },
        {
          "$ref": "#/components/parameters/eventApiProductId"
        },
        {
          "$ref": "#/components/parameters/planId"
        },
        {
          "$ref": "#/components/parameters/apiFormat"
        },
        {
          "$ref": "#/components/parameters/asyncApiVersion"
        }
      ],
      "get": {
        "summary": "Coming Soon",
        "operationId": "getEventAPIProductPlanApi",
        "tags": [
          "eventapiproducts"
        ],
        "responses": {
          "200": {
            "description": "Async API Definition of the Plan's API",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "minLength": 2,
                  "maxLength": 2000000
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "minLength": 2,
                  "maxLength": 2000000
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/appRegistrations": {
      "get": {
        "summary": "Coming Soon",
        "description": "\"This resource allows filtering of results by query using RSQL. \nThe following fields are available: \n  registrationId, name, customAttributes.name, customAttributes.value\nAn example query: ?query=registrationId==5 and customAttributes.name==EXPORTABLE and customAttributes.value==TRUE\"\n",
        "operationId": "listAppRegistrations",
        "tags": [
          "registrations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/query"
          },
          {
            "$ref": "#/components/parameters/page_size"
          },
          {
            "$ref": "#/components/parameters/page_number"
          },
          {
            "$ref": "#/components/parameters/sort_field_name"
          },
          {
            "$ref": "#/components/parameters/sort_direction"
          }
        ],
        "responses": {
          "200": {
            "description": "list of app regsitrations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationRegistrationsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      },
      "post": {
        "summary": "Coming Soon",
        "operationId": "createAppRegistration",
        "tags": [
          "registrations"
        ],
        "requestBody": {
          "description": "New app registration",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationRegistration"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created app registration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationRegistrationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Likely an invalid auth token provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "422": {
            "description": "Duplicate organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/appRegistrations/{appRegistrationId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/appRegistrationId"
        }
      ],
      "get": {
        "summary": "Coming Soon",
        "operationId": "getAppRegistration",
        "tags": [
          "registrations"
        ],
        "responses": {
          "200": {
            "description": "the app registration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationRegistration"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      },
      "patch": {
        "summary": "Coming Soon",
        "operationId": "updateAppRegistration",
        "tags": [
          "registrations"
        ],
        "requestBody": {
          "description": "Patch to App Registration",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationRegistration"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated App Registration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationRegistrationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      },
      "delete": {
        "summary": "Coming Soon",
        "operationId": "deleteAppRegistration",
        "tags": [
          "registrations"
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/appRegistrations/{appRegistrationId}/eventApis": {
      "parameters": [
        {
          "$ref": "#/components/parameters/appRegistrationId"
        }
      ],
      "get": {
        "summary": "Coming Soon",
        "operationId": "getAppRegistrationApis",
        "tags": [
          "registrations"
        ],
        "responses": {
          "200": {
            "description": "list of apis the app has access to",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventApisResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/appRegistrations/{appRegistrationId}/eventApis/{eventApiId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/eventApiId"
        },
        {
          "$ref": "#/components/parameters/appRegistrationId"
        },
        {
          "$ref": "#/components/parameters/apiFormat"
        },
        {
          "$ref": "#/components/parameters/asyncApiVersion"
        }
      ],
      "get": {
        "summary": "Coming Soon",
        "operationId": "getAppRegistrationApi",
        "tags": [
          "registrations"
        ],
        "responses": {
          "200": {
            "description": "the async api specification tailored to the current app",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "minLength": 2,
                  "maxLength": 2000000
                }
              },
              "text/plain": {
                "schema": {
                  "minLength": 2,
                  "maxLength": 2000000,
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/appRegistrations/{appRegistrationId}/attributes": {
      "parameters": [
        {
          "$ref": "#/components/parameters/appRegistrationId"
        }
      ],
      "get": {
        "summary": "Coming Soon",
        "operationId": "getAppRegistrationAttributes",
        "tags": [
          "registrations"
        ],
        "responses": {
          "200": {
            "description": "the AppRegistration Attributes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomAttributesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      },
      "post": {
        "summary": "Coming Soon",
        "operationId": "createAppRegistrationAttribute",
        "tags": [
          "registrations"
        ],
        "requestBody": {
          "description": "New App Registration Attribute",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomAttribute"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created AppRegistration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomAttributeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/appRegistrations/{appRegistrationId}/attributes/{attributeId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/appRegistrationId"
        },
        {
          "$ref": "#/components/parameters/attributeId"
        }
      ],
      "get": {
        "summary": "Coming Soon",
        "operationId": "getAppRegistrationAttribute",
        "tags": [
          "registrations"
        ],
        "responses": {
          "200": {
            "description": "the Event API Product Attribute",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomAttributeResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      },
      "patch": {
        "summary": "Coming Soon",
        "operationId": "updateAppRegistrationAttribute",
        "tags": [
          "registrations"
        ],
        "requestBody": {
          "description": "Patch to AppRegistration Attribute",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomAttribute"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated AppRegistration Attribute",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomAttributeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      },
      "delete": {
        "summary": "Coming Soon",
        "operationId": "deleteAppRegistrationAttribute",
        "tags": [
          "registrations"
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/appRegistrations/{appRegistrationId}/credentials": {
      "parameters": [
        {
          "$ref": "#/components/parameters/appRegistrationId"
        }
      ],
      "get": {
        "summary": "Coming Soon",
        "operationId": "getAppRegistrationCredentials",
        "tags": [
          "registrations"
        ],
        "responses": {
          "200": {
            "description": "the AppRegistration Credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CredentialsArrayResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      },
      "post": {
        "summary": "Coming Soon",
        "operationId": "createAppRegistrationCredentials",
        "tags": [
          "registrations"
        ],
        "requestBody": {
          "description": "New App Registration Attribute",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Credentials"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created AppRegistration Credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CredentialsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/appRegistrations/{appRegistrationId}/credentials/{credentialsId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/credentialsId"
        },
        {
          "$ref": "#/components/parameters/appRegistrationId"
        }
      ],
      "get": {
        "summary": "Coming Soon",
        "operationId": "getAppRegistrationCredential",
        "tags": [
          "registrations"
        ],
        "responses": {
          "200": {
            "description": "App Registration Credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CredentialsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      },
      "patch": {
        "summary": "Coming Soon",
        "operationId": "updateAppRegistrationCredentials",
        "tags": [
          "registrations"
        ],
        "requestBody": {
          "description": "Patch to AppRegistration Attribute",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Credentials"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated AppRegistration Credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CredentialsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      },
      "delete": {
        "summary": "Coming Soon",
        "operationId": "deleteAppRegistrationCredentials",
        "tags": [
          "registrations"
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/appRegistrations/{appRegistrationId}/accessRequests": {
      "parameters": [
        {
          "$ref": "#/components/parameters/appRegistrationId"
        }
      ],
      "get": {
        "summary": "Coming Soon",
        "operationId": "getAppRegistrationAccessRequests",
        "tags": [
          "registrations"
        ],
        "responses": {
          "200": {
            "description": "the AppRegistration Access Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventApiProductRegistrationsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      },
      "post": {
        "summary": "Coming Soon",
        "description": "Creates a new Access Request. The initial state of the request is returned in the response. If the  Event API Product requires \"manual\" approval the request is in \"pending\" state, if it is \"auto\" the request is in \"approved\" state.",
        "operationId": "createAppRegistrationAccessRequest",
        "tags": [
          "registrations"
        ],
        "requestBody": {
          "description": "New App Registration Access Request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventApiProductRegistrationCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created AccessRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventApiProductRegistrationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/appRegistrations/{appRegistrationId}/accessRequests/{accessRequestId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/accessRequestId"
        },
        {
          "$ref": "#/components/parameters/appRegistrationId"
        }
      ],
      "get": {
        "summary": "Coming Soon",
        "operationId": "getAppRegistrationAccessRequest",
        "tags": [
          "registrations"
        ],
        "responses": {
          "200": {
            "description": "the App Registration AccessRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventApiProductRegistrationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      },
      "patch": {
        "summary": "Coming Soon",
        "operationId": "updateAppRegistrationAccessRequest",
        "tags": [
          "registrations"
        ],
        "requestBody": {
          "description": "Patch to AppRegistration AccessRequests",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventApiProductRegistration"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated AppRegistration AccessRequests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventApiProductRegistrationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      },
      "delete": {
        "summary": "Coming Soon",
        "operationId": "deleteAppRegistrationAccessRequest",
        "tags": [
          "registrations"
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/appRegistrations/{appRegistrationId}/webHooks": {
      "parameters": [
        {
          "$ref": "#/components/parameters/appRegistrationId"
        }
      ],
      "get": {
        "operationId": "listAppRegistrationWebHooks",
        "tags": [
          "registrations"
        ],
        "responses": {
          "200": {
            "description": "list of webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebHookIdList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      },
      "post": {
        "operationId": "createAppRegistrationWebHook",
        "tags": [
          "registrations"
        ],
        "requestBody": {
          "description": "new webhook",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebHook"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "new webhook",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebHook"
                }
              }
            }
          },
          "400": {
            "description": "Bad request, contains information about failed back end calls when the app is  provisioned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "422": {
            "description": "Duplicate app or invalid object reference e.g. invalid API product name",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "description": "Internal Server error, contains information about failed back end calls when the  app is provisioned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/appRegistrations/{appRegistrationId}/webHooks/{webhookId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/appRegistrationId"
        },
        {
          "$ref": "#/components/parameters/webhookId"
        }
      ],
      "get": {
        "operationId": "getAppRegistrationWebHook",
        "tags": [
          "registrations"
        ],
        "responses": {
          "200": {
            "description": "the webhook",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebHook"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      },
      "patch": {
        "operationId": "updateAppRegistrationWebHook",
        "tags": [
          "registrations"
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebHook"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "WebHook",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebHook"
                }
              }
            }
          },
          "400": {
            "description": "Bad request, contains information about failed back end calls when the app is  provisioned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "422": {
            "description": "Duplicate app or invalid object reference e.g. invalid API product name",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "description": "Internal Server error, contains information about failed back end calls when the  app is provisioned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      },
      "delete": {
        "operationId": "deleteAppRegistrationWebHook",
        "tags": [
          "registrations"
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/gateways": {
      "get": {
        "summary": "Coming Soon",
        "description": "This resource allows filtering of results by query. The following fields are available: id, solaceCloudMessagingServiceId, messagingServiceType, name, environmentName, eventMeshName",
        "operationId": "listGateways",
        "tags": [
          "gateways"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/query"
          },
          {
            "$ref": "#/components/parameters/page_size"
          },
          {
            "$ref": "#/components/parameters/page_number"
          },
          {
            "$ref": "#/components/parameters/sort_field_name"
          },
          {
            "$ref": "#/components/parameters/sort_direction"
          }
        ],
        "responses": {
          "200": {
            "description": "list of gateways",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessagingServicesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/gateways/{gatewayId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/gatewayId"
        }
      ],
      "get": {
        "summary": "Coming Soon",
        "operationId": "getGateway",
        "tags": [
          "gateways"
        ],
        "responses": {
          "200": {
            "description": "a messaging service gateway",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessagingServiceResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "OpenId": {
        "type": "openIdConnect",
        "openIdConnectUrl": "/auth/.well-known/openid-configuration"
      }
    },
    "parameters": {
      "eventApiProductId": {
        "name": "eventApiProductId",
        "description": "the id of an object",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "pattern": "^[a-zA-Z0-9_-]*$",
          "minLength": 4,
          "maxLength": 188
        }
      },
      "planId": {
        "name": "planId",
        "description": "the id of an object",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "pattern": "^[a-zA-Z0-9_-]*$",
          "minLength": 4,
          "maxLength": 188
        }
      },
      "appRegistrationId": {
        "name": "appRegistrationId",
        "description": "the id of an object",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "pattern": "^[a-zA-Z0-9_-]*$",
          "minLength": 4,
          "maxLength": 188
        }
      },
      "gatewayId": {
        "name": "gatewayId",
        "description": "the id of an object",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "pattern": "^[a-zA-Z0-9_-]*$",
          "minLength": 4,
          "maxLength": 188
        }
      },
      "revisionId": {
        "name": "revisionId",
        "description": "the id of an object",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "pattern": "^[a-zA-Z0-9_-]*$",
          "minLength": 4,
          "maxLength": 188
        }
      },
      "attributeId": {
        "name": "attributeId",
        "description": "the id of an object",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "pattern": "^[a-zA-Z0-9_-]*$",
          "minLength": 4,
          "maxLength": 188
        }
      },
      "credentialsId": {
        "name": "credentialsId",
        "description": "the id of an object",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "pattern": "^[a-zA-Z0-9_-]*$",
          "minLength": 4,
          "maxLength": 188
        }
      },
      "eventApiId": {
        "name": "eventApiId",
        "description": "the id of an object",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "pattern": "^[a-zA-Z0-9_-]*$",
          "minLength": 4,
          "maxLength": 188
        }
      },
      "accessRequestId": {
        "name": "accessRequestId",
        "description": "the id of an object",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "pattern": "^[a-zA-Z0-9_-]*$",
          "minLength": 4,
          "maxLength": 188
        }
      },
      "webhookId": {
        "name": "webhookId",
        "description": "the id of an object",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "pattern": "^[a-zA-Z0-9_-]*$",
          "minLength": 4,
          "maxLength": 188
        }
      },
      "query": {
        "name": "query",
        "description": "Query string for filtering entity. Expressed in FIQL/RSQL language. Documentation link to help with multiple values for query - https://github.com/jirutka/rsql-parser.",
        "in": "query",
        "schema": {
          "type": "string",
          "minLength": 5,
          "maxLength": 1024
        }
      },
      "page_size": {
        "name": "pageSize",
        "in": "query",
        "description": "The number of items to get per page. Min: 1 Max: 100",
        "required": false,
        "schema": {
          "type": "integer",
          "format": "int32",
          "minimum": 1,
          "maximum": 100
        }
      },
      "page_number": {
        "name": "pageNumber",
        "in": "query",
        "description": "The page number to get. Min: 1",
        "required": false,
        "schema": {
          "type": "integer",
          "format": "int32",
          "minimum": 1,
          "maximum": 16384
        }
      },
      "sort_direction": {
        "name": "sortDirection",
        "in": "query",
        "description": "sort direction",
        "required": false,
        "schema": {
          "type": "string",
          "default": "asc",
          "enum": [
            "asc",
            "desc"
          ]
        }
      },
      "sort_field_name": {
        "name": "sortFieldName",
        "in": "query",
        "description": "name of a field to sort on",
        "required": false,
        "schema": {
          "type": "string",
          "pattern": "^[a-zA-Z0-9_-]*$",
          "minLength": 2,
          "maxLength": 512
        }
      },
      "apiFormat": {
        "name": "apiFormat",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "application/json",
            "application/x-yaml",
            "application/zip"
          ]
        }
      },
      "asyncApiVersion": {
        "name": "asyncApiVersion",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "2.2.0",
            "2.5.0"
          ]
        }
      }
    },
    "responses": {
      "PreconditionFailed": {
        "description": "PreConditon Failed, likely a mismatch between current etag and if-match header",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "BadRequest": {
        "description": "Bad Request.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFound": {
        "description": "Not Found.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotAcceptable": {
        "description": "Not Acceptable.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "UnsupportedMediaType": {
        "description": "Unsupported Media Type.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Too many requests.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal Server Error.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "Service Unavailable.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "GatewayTimeout": {
        "description": "Gateway Timeout.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Conflict": {
        "description": "Conflict",
[...]
