{
  "openapi": "3.0.0",
  "info": {
    "title": "API Management / Dev Portal API",
    "description": "This OpenAPI specification describes the contract for the API Management / Dev Portal API. Please note - at this time the specification is in an elaboration/design phase and there is currently no API Implementation available.",
    "version": "2.0.0",
    "license": {
      "name": "MIT",
      "url": "https://github.com/solace-iot-team/platform-api/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://api.solace.cloud/api/v2/apim"
    }
  ],
  "security": [
    {
      "OpenId": []
    },
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Event API Products",
      "description": "Manage APIs and API Products"
    },
    {
      "name": "Registrations",
      "description": "Manage consumer credentials and access requests for apps"
    },
    {
      "name": "Gateways",
      "description": "Gateway Messaging Services"
    },
    {
      "name": "Candidates",
      "description": "Candidate resources and operations for review - e.e. API Management may want to create and manage API Product Plans"
    }
  ],
  "paths": {
    "/eventApiProducts": {
      "get": {
        "summary": "Coming Soon",
        "description": "Returns a list of published Event API Products and version information\nThis resource allows filtering of results by query using RSQL.\nExample: ?query=brokerType==solace and version.state==RETIRED\nThe following fields are available: id, name, applicationDomainName, applicationDomainId, \nbrokerType, customAttributes.name, customAttributes.value, plan id\nversion.createdTime, version.updatedTime, version.description, version.version, version.summary, version.displayName, version.state,\nversion.customAttributes.name, version.customAttributes.value\n",
        "operationId": "listEventApiProducts",
        "tags": ["Event API Products"],
        "parameters": [
          {
            "$ref": "#/components/parameters/query"
          },
          {
            "$ref": "#/components/parameters/page_size"
          },
          {
            "$ref": "#/components/parameters/page_number"
          },
          {
            "$ref": "#/components/parameters/sort_field_name"
          },
          {
            "$ref": "#/components/parameters/sort_direction"
          }
        ],
        "responses": {
          "200": {
            "description": "list of event api products",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventApiProductsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          },
          "default": {
            "description": "list of event api products",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventApiProductsResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Coming Soon",
        "operationId": "createEventAPIProduct",
        "tags": ["Candidates"],
        "requestBody": {
          "description": "String",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventApiProductVersion"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "New Event API Product",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventApiProductResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Likely an invalid auth token provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "422": {
            "description": "Duplicate organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          },
          "default": {
            "description": "New Event API Product",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventApiProductResponse"
                }
              }
            }
          }
        }
      }
    },
    "/eventApiProducts/{eventApiProductId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/eventApiProductId"
        }
      ],
      "get": {
        "summary": "Coming Soon",
        "description": "Returns the Event API Product",
        "operationId": "getEventAPIProduct",
        "tags": ["Event API Products"],
        "responses": {
          "200": {
            "description": "the Event API Product",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventApiProductResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          },
          "default": {
            "description": "the Event API Product",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventApiProductResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Coming Soon",
        "operationId": "updateEventApiProduct",
        "tags": ["Candidates"],
        "requestBody": {
          "description": "String",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventApiProductVersion"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated Event API Product",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventApiProductResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          },
          "default": {
            "description": "Updated Event API Product",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventApiProductResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Coming Soon",
        "operationId": "deleteEventApiProduct",
        "tags": ["Candidates"],
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/eventApiProducts/{eventApiProductId}/history": {
      "parameters": [
        {
          "$ref": "#/components/parameters/eventApiProductId"
        }
      ],
      "get": {
        "summary": "Coming Soon",
        "description": "Returns a list of historical stable versions of an Event API Product",
        "operationId": "getEventAPIProductRevisions",
        "tags": ["Event API Products"],
        "responses": {
          "200": {
            "description": "the Event API Product revisions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventApiProductVersionsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          },
          "default": {
            "description": "the Event API Product revisions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventApiProductVersionsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/eventApiProducts/{eventApiProductId}/history/{version}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/version"
        },
        {
          "$ref": "#/components/parameters/eventApiProductId"
        }
      ],
      "get": {
        "summary": "Coming Soon",
        "description": "Returns the version of an Event API Product matching the version number supplied in the version parameter",
        "operationId": "getEventAPIProductRevision",
        "tags": ["Event API Products"],
        "responses": {
          "200": {
            "description": "the Event API Product revisions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventApiProductResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          },
          "default": {
            "description": "the Event API Product revisions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventApiProductResponse"
                }
              }
            }
          }
        }
      }
    },
    "/eventApiProducts/{eventApiProductId}/attributes": {
      "description": "Manages attributes at the Event API Product level, these attributes apply to all versions",
      "parameters": [
        {
          "$ref": "#/components/parameters/eventApiProductId"
        }
      ],
      "get": {
        "summary": "Coming Soon",
        "operationId": "getEventAPIProductAttributes",
        "tags": ["Event API Products"],
        "responses": {
          "200": {
            "description": "the Event API Product Attributes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomAttributesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          },
          "default": {
            "description": "the Event API Product Attributes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomAttributesResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Coming Soon",
        "operationId": "createEventApiProductAttribute",
        "tags": ["Event API Products"],
        "requestBody": {
          "description": "New Event API Product Attribute",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomAttribute"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created Event API Product Attribute",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomAttributeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          },
          "default": {
            "description": "Created Event API Product Attribute",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomAttributeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/eventApiProducts/{eventApiProductId}/attributes/{attributeName}": {
      "description": "Manages attributes at the Event API Product level, these attributes apply to all versions",
      "parameters": [
        {
          "$ref": "#/components/parameters/attributeName"
        },
        {
          "$ref": "#/components/parameters/eventApiProductId"
        }
      ],
      "get": {
        "summary": "Coming Soon",
        "operationId": "getEventAPIProductAttribute",
        "tags": ["Event API Products"],
        "responses": {
          "200": {
            "description": "the Event API Product Attribute",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomAttributeResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          },
          "default": {
            "description": "the Event API Product Attribute",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomAttributeResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Coming Soon",
        "operationId": "updateEventApiProductAttribute",
        "tags": ["Event API Products"],
        "requestBody": {
          "description": "Patch for Event API Product Attribute",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomAttributeUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated Event API Product Attribute",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomAttributeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          },
          "default": {
            "description": "Updated Event API Product Attribute",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomAttributeResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Coming Soon",
        "operationId": "deleteEventApiProductAttribute",
        "tags": ["Event API Products"],
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/eventApiProducts/{eventApiProductId}/versionAttributes": {
      "description": "Manages attributes at the Event API Product version level, attribute values could change in a subsequent version",
      "parameters": [
        {
          "$ref": "#/components/parameters/eventApiProductId"
        }
      ],
      "get": {
        "summary": "Coming Soon",
        "operationId": "getEventAPIProductVersionAttributes",
        "tags": ["Event API Products"],
        "responses": {
          "200": {
            "description": "the Event API Product's Versioned Attributes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomAttributesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          },
          "default": {
            "description": "the Event API Product's Versioned Attributes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomAttributesResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Coming Soon",
        "operationId": "createEventApiProductVersionAttribute",
        "tags": ["Event API Products"],
        "requestBody": {
          "description": "New Event API Product Versioned Attribute",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomAttribute"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created Event API Product Attribute",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomAttributeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          },
          "default": {
            "description": "Created Event API Product Attribute",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomAttributeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/eventApiProducts/{eventApiProductId}/versionAttributes/{attributeName}": {
      "description": "Manages attributes at the Event API Product version level, attribute values could change in a subsequent version",
      "parameters": [
        {
          "$ref": "#/components/parameters/attributeName"
        },
        {
          "$ref": "#/components/parameters/eventApiProductId"
        }
      ],
      "get": {
        "summary": "Coming Soon",
        "operationId": "getEventAPIProductVersionAttribute",
        "tags": ["Event API Products"],
        "responses": {
          "200": {
            "description": "the Event API Product Versioned Attribute",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomAttributeResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          },
          "default": {
            "description": "the Event API Product Versioned Attribute",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomAttributeResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Coming Soon",
        "operationId": "updateEventApiProductVersionAttribute",
        "tags": ["Event API Products"],
        "requestBody": {
          "description": "Patch for Event API Product Versioned Attribute",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomAttributeUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated Event API Product Version Attribute",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomAttributeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          },
          "default": {
            "description": "Updated Event API Product Version Attribute",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomAttributeResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Coming Soon",
        "operationId": "deleteEventApiProductVersionAttribute",
        "tags": ["Event API Products"],
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/eventApiProducts/{eventApiProductId}/plans": {
      "parameters": [
        {
          "$ref": "#/components/parameters/eventApiProductId"
        }
      ],
      "get": {
        "summary": "Coming Soon",
        "operationId": "getEventAPIProductPlans",
        "tags": ["Event API Products"],
        "responses": {
          "200": {
            "description": "the Event API Product Plans",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlansResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          },
          "default": {
            "description": "the Event API Product Plans",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlansResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Coming Soon",
        "operationId": "createEventApiProductPlan",
        "tags": ["Candidates"],
        "requestBody": {
          "description": "New Event API Product Plan",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Plan"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created Event API Product Plan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          },
          "default": {
            "description": "Created Event API Product Plan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanResponse"
                }
              }
            }
          }
        }
      }
    },
    "/eventApiProducts/{eventApiProductId}/plans/{planId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/planId"
        },
        {
          "$ref": "#/components/parameters/eventApiProductId"
        }
      ],
      "get": {
        "summary": "Coming Soon",
        "operationId": "getEventAPIProductPlan",
        "tags": ["Event API Products"],
        "responses": {
          "200": {
            "description": "the Event API Product Plan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          },
          "default": {
            "description": "the Event API Product Plan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Coming Soon",
        "operationId": "updateEventApiProductPlan",
        "tags": ["Candidates"],
        "requestBody": {
          "description": "Patch to the Event API Product Plan",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Plan"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated Event API Product PLan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          },
          "default": {
            "description": "Updated Event API Product PLan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Coming Soon",
        "operationId": "deleteEventApiProductPlan",
        "tags": ["Candidates"],
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/eventApiProducts/{eventApiProductId}/plans/{planId}/eventApis": {
      "parameters": [
        {
          "$ref": "#/components/parameters/planId"
        },
        {
          "$ref": "#/components/parameters/eventApiProductId"
        }
      ],
      "get": {
        "summary": "Coming Soon",
        "operationId": "getEventAPIProductPlanApis",
        "tags": ["Event API Products"],
        "responses": {
          "200": {
            "description": "list of the Event API Product Plan APIs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventApisResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          },
          "default": {
            "description": "list of the Event API Product Plan APIs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventApisResponse"
                }
              }
            }
          }
        }
      }
    },
    "/eventApiProducts/{eventApiProductId}/plans/{planId}/eventApis/{eventApiId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/eventApiId"
        },
        {
          "$ref": "#/components/parameters/eventApiProductId"
        },
        {
          "$ref": "#/components/parameters/planId"
        },
        {
          "$ref": "#/components/parameters/apiFormat"
        },
        {
          "$ref": "#/components/parameters/asyncApiVersion"
        }
      ],
      "get": {
        "summary": "Coming Soon",
        "operationId": "getEventAPIProductPlanApi",
        "tags": ["Event API Products"],
        "responses": {
          "200": {
            "description": "Async API Definition of the Plan's API, if ZIP format is requested the contents are in JSON format.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/String2MB"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/String2MB"
                }
              },
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          },
          "default": {
            "description": "Async API Definition of the Plan's API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/String2MB"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/String2MB"
                }
              }
            }
          }
        }
      }
    },
    "/appRegistrations": {
      "get": {
        "summary": "Coming Soon",
        "description": "\"This resource allows filtering of results by query using RSQL. \nThe following fields are available: \n  registrationId, name, customAttributes.name, customAttributes.value\nAn example query: ?query=registrationId==5 and customAttributes.name==EXPORTABLE and customAttributes.value==TRUE\"\n",
        "operationId": "listAppRegistrations",
        "tags": ["Registrations"],
        "parameters": [
          {
            "$ref": "#/components/parameters/query"
          },
          {
            "$ref": "#/components/parameters/page_size"
          },
          {
            "$ref": "#/components/parameters/page_number"
          },
          {
            "$ref": "#/components/parameters/sort_field_name"
          },
          {
            "$ref": "#/components/parameters/sort_direction"
          }
        ],
        "responses": {
          "200": {
            "description": "list of app registrations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationRegistrationsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          },
          "default": {
            "description": "list of app registrations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationRegistrationsResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Coming Soon",
        "operationId": "createAppRegistration",
        "tags": ["Registrations"],
        "requestBody": {
          "description": "New app registration",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationRegistration"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created app registration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationRegistrationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Likely an invalid auth token provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "422": {
            "description": "Duplicate organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          },
          "default": {
            "description": "Created app registration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationRegistrationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/appRegistrations/{registrationId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/registrationId"
        }
      ],
      "get": {
        "summary": "Coming Soon",
        "operationId": "getAppRegistration",
        "tags": ["Registrations"],
        "responses": {
          "200": {
            "description": "the app registration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationRegistration"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          },
          "default": {
            "description": "the app registration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationRegistration"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Coming Soon",
        "operationId": "updateAppRegistration",
        "tags": ["Registrations"],
        "requestBody": {
          "description": "Patch to App Registration",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationRegistrationUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated App Registration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationRegistrationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          },
          "default": {
            "description": "Updated App Registration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationRegistrationResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Coming Soon",
        "operationId": "deleteAppRegistration",
        "tags": ["Registrations"],
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/appRegistrations/{registrationId}/eventApis": {
      "parameters": [
        {
          "$ref": "#/components/parameters/registrationId"
        }
      ],
      "get": {
        "summary": "Coming Soon",
        "operationId": "getAppRegistrationApis",
        "tags": ["Registrations"],
        "responses": {
          "200": {
            "description": "list of apis the app has access to",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventApisResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          },
          "default": {
            "description": "list of apis the app has access to",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventApisResponse"
                }
              }
            }
          }
        }
      }
    },
    "/appRegistrations/{registrationId}/eventApis/{eventApiId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/eventApiId"
        },
        {
          "$ref": "#/components/parameters/registrationId"
        },
        {
          "$ref": "#/components/parameters/apiFormat"
        },
        {
          "$ref": "#/components/parameters/asyncApiVersion"
        }
      ],
      "get": {
        "summary": "Coming Soon",
        "operationId": "getAppRegistrationApi",
        "tags": ["Registrations"],
        "responses": {
          "200": {
            "description": "the async api specification tailored to the current app",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/String2MB"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/String2MB"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          },
          "default": {
            "description": "the async api specification tailored to the current app",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/String2MB"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/String2MB"
                }
              }
            }
          }
        }
      }
    },
    "/appRegistrations/{registrationId}/attributes": {
      "parameters": [
        {
          "$ref": "#/components/parameters/registrationId"
        }
      ],
      "get": {
        "summary": "Coming Soon",
        "operationId": "getAppRegistrationAttributes",
        "tags": ["Registrations"],
        "responses": {
          "200": {
            "description": "the AppRegistration Attributes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomAttributesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          },
          "default": {
            "description": "the AppRegistration Attributes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomAttributesResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Coming Soon",
        "operationId": "createAppRegistrationAttribute",
        "tags": ["Registrations"],
        "requestBody": {
          "description": "New App Registration Attribute",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomAttribute"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created AppRegistration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomAttributeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          },
          "default": {
            "description": "Created AppRegistration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomAttributeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/appRegistrations/{registrationId}/attributes/{attributeName}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/registrationId"
        },
        {
          "$ref": "#/components/parameters/attributeName"
        }
      ],
      "get": {
        "summary": "Coming Soon",
        "operationId": "getAppRegistrationAttribute",
        "tags": ["Registrations"],
        "responses": {
          "200": {
            "description": "the Event API Product Attribute",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomAttributeResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          },
          "default": {
            "description": "the Event API Product Attribute",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomAttributeResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Coming Soon",
        "operationId": "updateAppRegistrationAttribute",
        "tags": ["Registrations"],
        "requestBody": {
          "description": "Patch to AppRegistration Attribute",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomAttributeUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated AppRegistration Attribute",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomAttributeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          },
          "default": {
            "description": "Updated AppRegistration Attribute",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomAttributeResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Coming Soon",
        "operationId": "deleteAppRegistrationAttribute",
        "tags": ["Registrations"],
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/appRegistrations/{registrationId}/credentials": {
      "parameters": [
        {
          "$ref": "#/components/parameters/registrationId"
        }
      ],
      "get": {
        "summary": "Coming Soon",
        "operationId": "getAppRegistrationCredentials",
        "tags": ["Registrations"],
        "responses": {
          "200": {
            "description": "the AppRegistration Credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CredentialsArrayResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          },
          "default": {
            "description": "the AppRegistration Credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CredentialsArrayResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Coming Soon",
        "operationId": "createAppRegistrationCredentials",
        "tags": ["Registrations"],
        "requestBody": {
          "description": "New App Registration Attribute",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Credentials"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created AppRegistration Credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CredentialsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          },
          "default": {
            "description": "Created AppRegistration Credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CredentialsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/appRegistrations/{registrationId}/credentials/{consumerKey}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/consumerKey"
        },
        {
          "$ref": "#/components/parameters/registrationId"
        }
      ],
      "get": {
        "summary": "Coming Soon",
        "operationId": "getAppRegistrationCredential",
        "tags": ["Registrations"],
        "responses": {
          "200": {
            "description": "App Registration Credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CredentialsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          },
          "default": {
            "description": "App Registration Credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CredentialsResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Coming Soon",
        "operationId": "updateAppRegistrationCredentials",
        "tags": ["Registrations"],
        "requestBody": {
          "description": "Patch to AppRegistration Credentials",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Credentials"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated AppRegistration Credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CredentialsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          },
          "default": {
            "description": "Updated AppRegistration Credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CredentialsResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Coming Soon",
        "operationId": "deleteAppRegistrationCredentials",
        "tags": ["Registrations"],
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/appRegistrations/{registrationId}/accessRequests": {
      "parameters": [
        {
          "$ref": "#/components/parameters/registrationId"
        }
      ],
      "get": {
        "summary": "Coming Soon",
        "operationId": "getAppRegistrationAccessRequests",
        "tags": ["Registrations"],
        "responses": {
          "200": {
            "description": "the AppRegistration Access Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventApiProductRegistrationsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          },
          "default": {
            "description": "the AppRegistration Access Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventApiProductRegistrationsResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Coming Soon",
        "description": "Creates a new Access Request. The initial state of the request is returned in the response. If the  Event API Product requires \"manual\" approval the request is in \"pending\" state, if it is \"auto\" the request is in \"approved\" state.",
        "operationId": "createAppRegistrationAccessRequest",
        "tags": ["Registrations"],
        "requestBody": {
          "description": "New App Registration Access Request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventApiProductRegistrationCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created AccessRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventApiProductRegistrationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          },
          "default": {
            "description": "Created AccessRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventApiProductRegistrationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/appRegistrations/{registrationId}/accessRequests/{accessRequestId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/accessRequestId"
        },
        {
          "$ref": "#/components/parameters/registrationId"
        }
      ],
      "get": {
        "summary": "Coming Soon",
        "operationId": "getAppRegistrationAccessRequest",
        "tags": ["Registrations"],
        "responses": {
          "200": {
            "description": "the App Registration AccessRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventApiProductRegistrationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          },
          "default": {
            "description": "the App Registration AccessRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventApiProductRegistrationResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Coming Soon",
        "operationId": "updateAppRegistrationAccessRequest",
        "tags": ["Registrations"],
        "requestBody": {
          "description": "Patch to AppRegistration AccessRequests",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventApiProductRegistrationUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated AppRegistration AccessRequests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventApiProductRegistrationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          },
          "default": {
            "description": "Updated AppRegistration AccessRequests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventApiProductRegistrationResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Coming Soon",
        "operationId": "deleteAppRegistrationAccessRequest",
        "tags": ["Registrations"],
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/appRegistrations/{registrationId}/webHooks": {
      "parameters": [
        {
          "$ref": "#/components/parameters/registrationId"
        }
      ],
      "get": {
        "operationId": "listAppRegistrationWebHooks",
        "tags": ["Registrations"],
        "responses": {
          "200": {
            "description": "list of webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebHookIdList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          },
          "default": {
            "description": "list of webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebHookIdList"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createAppRegistrationWebHook",
        "tags": ["Registrations"],
        "requestBody": {
          "description": "new webhook",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebHook"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "new webhook",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebHook"
                }
              }
            }
          },
          "400": {
            "description": "Bad request, contains information about failed back end calls when the app is  provisioned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "422": {
            "description": "Duplicate app or invalid object reference e.g. invalid API product name",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "description": "Internal Server error, contains information about failed back end calls when the  app is provisioned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          },
          "default": {
            "description": "new webhook",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebHook"
                }
              }
            }
          }
        }
      }
    },
    "/appRegistrations/{registrationId}/webHooks/{webhookId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/registrationId"
        },
        {
          "$ref": "#/components/parameters/webhookId"
        }
      ],
      "get": {
        "operationId": "getAppRegistrationWebHook",
        "tags": ["Registrations"],
        "responses": {
          "200": {
            "description": "the webhook",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebHook"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          },
          "default": {
            "description": "the webhook",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebHook"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateAppRegistrationWebHook",
        "tags": ["Registrations"],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebHook"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "WebHook",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebHook"
                }
              }
            }
          },
          "400": {
            "description": "Bad request, contains information about failed back end calls when the app is  provisioned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "422": {
            "description": "Duplicate app or invalid object reference e.g. invalid API product name",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "description": "Internal Server error, contains information about failed back end calls when the  app is provisioned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          },
          "default": {
            "description": "WebHook",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebHook"
[...]
